// @import "reset.scss";

@function PxToVw($px) {
	@return $px/1920 * 100vw;
}

@function PxToVh($px) {
	@return $px/1080 * 100vh;
}

// font---------
$fontSize: 1rem;
$fontFamily: ("PT Serif", serif, "Noto Serif TC", serif, Montserrat, sans-serif);
$titleL: 7.5rem;
$titleM: 4.5rem;
$titleS: 3.5rem;
$paragraph: 1.5rem;

// color---------

$color: (
	"red": #9e0000,
	"lightBrown": #dccab8,
	"brown": #ba967d,
	"darkBrown": #886f5e,
	"yellow": #fbfbf6,
	"gray": #f1f1f1,
	"darkGray": #7e7e7e,
	"white": #fff,
	"black": #2e2824,
);

// grid------------------------------------------------------------------
$gutter: 40px;
$grid-column: 12;

$gutter-lg: 28px;
$grid-lg-column: 6;

$gutter-sm: 12px;
$grid-sm-column: 4;

// container-------------------------------------------------------------
$container-max-widths: 1400px;
$container-padding: 40px;

$container-lg-padding: 20px;
$container-sm-padding: 16px;

// breakpoints----------------------------------------------------
$break-point-xs: 414px; //mobile-xs
$break-point-sm: 576px; //mobile
$break-point-md: 768px; //pad
$break-point-lg: 992px; //pad-pro
$break-point-xl: 1200px; //notebook

$break-points: (
	xs: $break-point-xs,
	sm: $break-point-sm,
	md: $break-point-md,
	lg: $break-point-lg,
	xl: $break-point-xl,
);

* {
	text-decoration: none;
}

.wrapper {
	display: flex;

	// .leftbar {
	// 	display: flex;
	// 	// width: PxToVw(257);
	// 	width: 15.6vw;
	// 	flex-direction: column;
	// 	background-image: url("../img/normalnumber/Path 1055.png");
	// 	align-items: center;
	// 	text-align: center;
	// 	color: white;
	// 	.logo {
	// 		width: 90px;
	// 		height: 90px;
	// 		margin-top: 80px;
	// 		margin-bottom: 370px;
	// 	}
	// 	div {
	// 		width: PxToVw(48.9);
	// 		height: PxToVh(20);
	// 		font-size: 15px;
	// 		margin: 0 auto;
	// 		// text-align: center;
	// 		margin-bottom: 273px;
	// 		border-bottom: 2px solid white;
	// 	}
	// 	div::after {
	// 		content: "";
	// 		display: block;
	// 		width: PxToVw(39.65);
	// 		height: PxToVh(2);
	// 		// color: white;
	// 		// box-shadow: 0px 20px 20px 2px white;
	// 		// outline: 2px solid cadetblue;
	// 		box-shadow: 0px 12px 0px 0px rgb(255, 255, 255);
	// 	}
	// 	p {
	// 		display: block;
	// 		width: PxToVw(16);
	// 		writing-mode: vertical-lr;
	// 		transform: rotateX(180deg);
	// 		transform: rotateZ(180deg);
	// 	}
	// }

	.rightbar {
		padding-left: PxToVw(69);
		box-sizing: border-box;
		margin-top: 150px;
		margin-left: 15.6vw;
		// overflow: hidden;
		// outline: 2px solid cadetblue;
		.features {
			display: flex;
			width: 250px;
			height: 27px;
			color: black;
			// margin-left: 1330px;
			// margin-top: 50px;
			// margin-bottom: 36px;
			align-items: center;
			position: absolute;
			top: 50px;
			right: 1.822vw;
			// outline: 2px solid chocolate;
			a {
				text-decoration: none;
				color: black;
			}
			.fa-search {
				font-size: 26px;
				margin: 0;
			}
			.personal {
				width: 64px;
				height: 23px;
				margin-left: 20px;
				border-bottom: 2px solid #e5e5e5;
				// outline: 2px solid chocolate;
			}
			.login {
				width: 56px;
				height: 23px;
				margin-left: 20px;
				display: flex;
				border-bottom: 2px solid #e5e5e5;
				// outline: 2px solid chocolate;
			}
			.fa-user-friends {
				font-size: 15px;
				margin: 0;
				margin-left: 4px;
			}
			.fa-bell {
				font-size: 20px;
				margin-left: 15px;
			}
		}

		.features_rwd {
			display: none;
		}

		.select {
			display: flex;
			margin-bottom: 26px;
			.select_normalnumber {
				width: PxToVw(775);
				height: PxToVh(50);
				font-size: 20px;
				line-height: PxToVh(50);
				text-align: center;
				border: 1px solid #2e2824;
				color: black;
			}
			.select_normalnumber:hover {
				background-color: black;
				color: white;
			}
			.select_hightlevel {
				width: PxToVw(700);
				height: PxToVh(50);
				font-size: 20px;
				line-height: PxToVh(50);
				color: white;
				text-align: center;
				background-color: #2e2824;
				border: 1px solid #2e2824;
			}
			.select_hightlevel:hover {
				background-color: black;
			}
		}

		.main {
			display: flex;

			.left {
				margin-right: PxToVw(34);

				.name {
					width: PxToVw(655);
					height: PxToVh(80);
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 28px 16px 24px 55px;
					background-color: #f1f1f1;
					box-sizing: border-box;
					margin-bottom: 28px;
					font-size: 32px;
					img {
						cursor: pointer;
					}
				}
				.artimg {
					position: relative;
					margin-bottom: 30px;

					.art {
						display: block;
						width: PxToVw(655);
						height: PxToVh(508);
					}
					h1 {
						font-size: 24px;
						font-family: Arial;
						position: absolute;
						bottom: 30px;
						left: 15px;
						font-weight: bold;
						color: white;
						text-shadow: (2px 2px 2px #000000);
					}
					.tag {
						position: absolute;
						bottom: -15px;
						left: PxToVw(24);
						@for $tag from 1 through 10 {
							button:nth-child(#{$tag}):hover {
								cursor: pointer;
							}
						}

						button:nth-child(1) {
							border: 3px solid black;
							background-color: #fbfbf6;
							border-radius: 3px;
						}
						button:nth-child(2) {
							border: 3px solid rgb(255, 255, 255);
							background-color: black;
							color: white;
							border-radius: 3px;
						}
						button:nth-child(3) {
							border: 3px solid black;
							background-color: #fbfbf6;
							border-radius: 3px;
						}
						button:nth-child(4) {
							border: 3px solid rgb(255, 255, 255);
							background-color: black;
							color: white;
							border-radius: 3px;
						}
						button:nth-child(5) {
							border: 3px solid black;
							background-color: #fbfbf6;
							border-radius: 3px;
						}
						button:nth-child(6) {
							border: 3px solid black;
							background-color: #fbfbf6;
							border-radius: 3px;
						}
						button:nth-child(7) {
							border: 3px solid black;
							background-color: #fbfbf6;
							border-radius: 3px;
						}
						button:nth-child(8) {
							border: 3px solid black;
							background-color: #fbfbf6;
							border-radius: 3px;
						}
						button:nth-child(9) {
							border: 3px solid rgb(255, 255, 255);
							background-color: black;
							color: white;
							border-radius: 3px;
						}
						button:nth-child(10) {
							border: 3px solid rgb(255, 255, 255);
							background-color: black;
							color: white;
							border-radius: 3px;
						}
					}
				}
				.name_rwd {
					display: none;
				}

				.mastername {
					width: PxToVw(655);
					padding: 0px 17px 6px 0px;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 48px;
					border-bottom: 1px solid black;
					img {
						cursor: pointer;
					}
				}
				.intro {
					width: PxToVw(655);
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 25px 17px 20px 0px;
					font-size: 20px;
					box-sizing: border-box;
					border-bottom: 1px solid black;
					img {
						cursor: pointer;
					}
					p {
						display: block;
						width: 460px;
					}
				}
				.visit {
					display: flex;
					text-align: center;
					box-sizing: border-box;
					margin-top: 20px;
					margin-bottom: 62px;
					.good {
						width: PxToVw(226);
						height: PxToVh(102);
						padding-top: 20px;
						// padding-bottom: 11px;
						// box-sizing: border-box;
						color: white;
						margin-right: 10px;
						background-color: #2e2824;
						.p1 {
							font-size: 36px;
							margin-bottom: 26px;
						}
						.p2 {
							font-size: 20px;
							margin-bottom: 11px;
						}
					}
					.tour {
						width: PxToVw(235);
						height: PxToVh(102);
						padding-top: 20px;
						margin-right: 10px;
						// padding-bottom: 11px;
						// box-sizing: border-box;
						color: white;
						background-color: #2e2824;
						.p1 {
							font-size: 36px;
							margin-bottom: 26px;
						}
						.p2 {
							font-size: 20px;
							margin-bottom: 11px;
						}
					}
					.message {
						width: PxToVw(174);
						height: PxToVh(102);
						padding-top: 20px;
						margin-right: 10px;
						// box-sizing: border-box;
						color: white;
						background-color: #2e2824;
						.p1 {
							font-size: 36px;
							margin-bottom: 26px;
						}
						.p2 {
							font-size: 20px;
							margin-bottom: 11px;
						}
					}
				}
			}

			.right {
				.personal {
					position: relative;
					width: PxToVw(780);
					height: PxToVh(386);
					background-color: #f1f1f1;
					margin-bottom: 23px;
					padding: 20px 0px 0px 15px;
					box-sizing: border-box;
					overflow: hidden;
					// outline: 2px solid cadetblue;
					h1 {
						width: PxToVw(116);
						// height: PxToVh(40);
						padding-left: 10px;
						padding-bottom: 5px;
						box-sizing: border-box;
						font-size: 28px;
						border-bottom: 10px solid rgba(126, 126, 126, 0.2);
					}
					.personal_works {
						position: relative;
						margin-top: 25px;
						margin-left: 14px;
						display: flex;
						img {
							margin-right: 1px;
							width: 180px;
							height: 200px;
							// outline: 2px solid cadetblue;
						}

						// .personal_select {
						// 	width: 60px;
						// 	height: 60px;
						// 	border-radius: 50%;
						// 	background-color: #fbfbf6;
						// }
						// .test {
						// 	width: 60px;
						// 	height: 60px;
						// 	border-radius: 50%;
						// 	// -webkit-appearance: checkbox;
						// }
						.personal_works1 {
							position: relative;

							.checkrage {
								position: absolute;
								width: 180px;
								height: 200px;
								opacity: 0;
								left: -4px;
								top: -4px;
								cursor: pointer;
								z-index: 1000;
								// outline: 2px solid chocolate;
							}

							.custom-checkbox {
								display: none;
								position: absolute;
								width: 60px;
								height: 60px;
								background-color: #ffffff;
								border: solid 1px #dddddd;
								-webkit-border-radius: 50%;
								border-radius: 50%;
								top: 70px;
								left: 60px;
								opacity: 0.7;
								outline: 2px solid cadetblue;
								text-align: center;
								.fa-check {
									// display: none;
									text-align: center;
									line-height: 60px;
									font-size: 30px;
								}
							}
						}

						.personal_works2 {
							position: relative;
							.checkrage {
								position: absolute;
								width: 180px;
								height: 200px;
								opacity: 0;
								left: -4px;
								top: -4px;
								z-index: 1000;
								cursor: pointer;
								outline: 2px solid chocolate;
							}

							.custom-checkbox {
								display: none;
								position: absolute;
								width: 60px;
								height: 60px;
								background-color: #ffffff;
								border: solid 1px #dddddd;
								-webkit-border-radius: 50%;
								border-radius: 50%;
								top: 70px;
								left: 60px;
								opacity: 0.7;
								.fa-check {
									display: none;
									text-align: center;
									line-height: 60px;
									font-size: 30px;
								}
							}
						}

						.personal_works3 {
							position: relative;

							.checkrage {
								position: absolute;
								width: 180px;
								height: 200px;
								opacity: 0;
								left: -4px;
								top: -4px;
								cursor: pointer;
								z-index: 1000;
								// outline: 2px solid chocolate;
							}

							.custom-checkbox {
								display: none;
								position: absolute;
								width: 60px;
								height: 60px;
								background-color: #ffffff;
								border: solid 1px #dddddd;
								-webkit-border-radius: 50%;
								border-radius: 50%;
								top: 70px;
								left: 60px;
								opacity: 0.7;
								.fa-check {
									display: none;
									text-align: center;
									line-height: 60px;
									font-size: 30px;
								}
							}
						}

						.personal_works3:hover {
							.custom-checkbox {
								display: block;
							}
						}

						input:checked ~ .custom-checkbox {
							.fa-check {
								display: block;
							}
						}
					}
					.authority_pull {
						position: absolute;
						bottom: 0px;
						right: 0px;

						.personal_OffShelf {
							position: relative;
							font-size: 24px;
							margin-top: 23px;
							color: rgb(255, 255, 255);
							opacity: 0.8;
							z-index: 10;
							font-size: 24px;
							font-weight: bold;
							font-family: Lato;
							display: block;
							width: 80px;
							height: 80px;
							// outline: 2px solid chocolate;

							.fa-arrow-down {
								font-size: 70px;
								z-index: 10;
								position: absolute;
								bottom: 15px;
								right: 20px;
							}
							P {
								text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								display: none;
							}
							p:nth-child(2) {
								position: absolute;
								bottom: 55px;
								right: 80px;
								font-size: 42px;
								// outline: 2px solid cadetblue;
							}
							p:nth-child(3) {
								position: absolute;
								bottom: 85px;
								right: 60px;
								font-size: 32px;

								// outline: 2px solid cadetblue;
							}
							p:nth-child(4) {
								position: absolute;
								bottom: 105px;
								right: 45px;
								// outline: 2px solid cadetblue;
							}
							p:nth-child(5) {
								position: absolute;
								bottom: 111px;
								right: 32px;
								// outline: 2px solid cadetblue;
							}
						}
						.personal_OffShelf:hover {
							cursor: pointer;
							p {
								display: block;
							}
							.fa-arrow-down {
								animation-duration: 0.3s;
								animation-name: slidein;
								animation-iteration-count: infinite;
								animation-direction: alternate;
							}
							@keyframes slidein {
								from {
									bottom: 15px;
								}

								to {
									bottom: 8px;
								}
							}
						}
					}
					.fillet_down {
						width: 160px;
						height: 160px;
						position: absolute;
						bottom: -80px;
						right: -80px;
						border-radius: 50%;
						background-color: rgba(126, 126, 126, 0.59);
						// outline: 2px solid cadetblue;
					}
				}

				.authority {
					width: PxToVw(784);
					height: PxToVh(425);
					// padding-left: 34px;
					background-color: #f1f1f1;
					padding-top: 16px;
					box-sizing: border-box;
					overflow-y: scroll;
					overflow-x: hidden;
					position: relative;
					display: flex;
					flex-direction: column;

					.authority_top {
						display: flex;
						margin-left: 15px;
						// outline: 2px solid cadetblue;
						margin-bottom: 15px;
						align-items: center;

						h1 {
							width: PxToVw(180);
							// height: PxToVh(40);
							padding-left: 10px;
							padding-bottom: 5px;
							font-size: 28px;
							box-sizing: border-box;
							border-bottom: 10px solid rgba(126, 126, 126, 0.2);
						}
					}

					.authority_upload {
						position: absolute;
						top: 0px;
						right: 0px;
						.personal_OnShelf {
							font-size: 24px;
							margin-left: 45px;
							position: relative;
							font-family: Lato;
							font-weight: bold;
							width: 80px;
							height: 80px;
							z-index: 10;
							// outline: 2px solid chocolate;
							.fa-arrow-up {
								color: white;
								opacity: 0.8;
								font-size: 70px;
								position: absolute;
								top: 20px;
								right: 20px;
								// outline: 200px solid cadetblue;
								z-index: 10;
							}
							p {
								display: none;
								color: white;
								text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
							}
							p:nth-child(2) {
								position: absolute;
								top: 40px;
								right: 90px;
								font-size: 42px;
								// outline: 2px solid cadetblue;
							}
							p:nth-child(3) {
								position: absolute;
								top: 70px;
								right: 80px;
								font-size: 32px;

								// outline: 2px solid cadetblue;
							}
							p:nth-child(4) {
								position: absolute;
								top: 90px;
								right: 71px;
								// outline: 2px solid cadetblue;
							}
							p:nth-child(5) {
								position: absolute;
								top: 100px;
								right: 50px;
								// outline: 2px solid cadetblue;
							}
							p:nth-child(6) {
								position: absolute;
								top: 105px;
								right: 35px;
								// outline: 2px solid cadetblue;
							}
							p:nth-child(7) {
								position: absolute;
								top: 108px;
								right: 15px;
								// outline: 2px solid cadetblue;
							}
						}
						.personal_OnShelf:hover {
							cursor: pointer;

							p {
								display: block;
							}
							.fa-arrow-up {
								animation-duration: 0.3s;
								animation-name: slideindown;
								animation-iteration-count: infinite;
								animation-direction: alternate;
							}
							@keyframes slideindown {
								from {
									top: 3px;
								}

								to {
									top: 10px;
								}
							}
						}
						.fillet_up {
							width: 160px;
							height: 160px;
							position: absolute;
							top: -80px;
							right: -80px;
							border-radius: 50%;
							background-color: rgba(126, 126, 126, 0.59);
							// outline: 2px solid cadetblue;
						}
					}
					.authority_down {
						display: flex;
						.authority_image {
							width: PxToVw(574);
							margin-left: 30px;
							img {
								position: relative;
								width: 180px;
								height: 178px;
							}
							img:hover {
								cursor: pointer;
								outline: 1px solid white;
								outline-offset: -10px;
							}
							img:nth-child(1):hover {
								outline: 1px solid white;
								outline-offset: -10px;
							}
						}

						.authority_btn {
							display: flex;
							width: 150px;
							height: 100%;
							flex-direction: column;

							// outline: 2px solid cadetblue;

							.authority_btn_down {
								margin-top: 28vh;
								display: flex;
								flex-direction: column;
								font-family: Noto Sans;
								text-align: center;
								line-height: 34px;
								font-size: 12px;
								font-weight: bold;
								.work_btn {
									width: 119px;
									height: 36px;
									border: 2px solid #3e3e3e;
									box-sizing: border-box;
									margin-bottom: 5px;
									display: flex;
									align-items: center;

									span {
										font-size: 10px;
										margin-right: 5px;
										margin-left: 10px;
									}
								}
								.work_btn:hover {
									// color: white;
									background-color: rgb(109, 109, 109);
									cursor: pointer;
								}
								.trash_btn {
									width: 119px;
									height: 36px;
									color: white;
									background-color: black;
									border: 2px solid #3e3e3e;
									box-sizing: border-box;
									.fa-trash {
										font-style: 10px;
										margin-right: 5px;
									}
								}
								.trash_btn:hover {
									// color: black;
									background-color: rgb(109, 109, 109);
									cursor: pointer;
								}
							}
						}

						.authority_btn_down {
							display: flex;
							.authority_btn_plus {
								.fa-plus-circle {
									font-size: 30px;
								}
							}
							.authority_btn_minus {
								.fa-minus-circle {
									font-size: 30px;
								}
							}
							.authority_btn_check {
								.fa-check-circle {
									font-size: 30px;
								}
							}
						}
					}

					.works_image {
						width: PxToVw(575);
						margin-left: 30px;
						outline: 2px solid cadetblue;
					}
				}

				.authority::-webkit-scrollbar-track {
					box-shadow: inset 0 0 6px rgb(255, 255, 255);
					background-color: #ffffff;
					border: 1px solid #555555;
				}

				.authority::-webkit-scrollbar {
					width: 5px;
					background-color: #f5f5f5;
				}

				.authority::-webkit-scrollbar-thumb {
					background-color: #d6cfcf;
					border: 1px solid #555555;
					// border-radius: 4px;
				}

				.authority {
					scrollbar-color: #d6cfcf #ffffff;
				}

				.backimage_select {
					display: flex;
					width: PxToVw(780);
					align-items: center;
					padding-left: 23px;
					margin-top: 27px;
					p {
						font-size: 24px;
						margin-right: 7px;
					}
					.nothing {
						display: block;
						width: 107px;
						height: 83px;
						text-align: center;
						line-height: 83px;
					}
					.nothing:hover {
						cursor: pointer;
						box-shadow: 2px 2px 2px #707070;
						transform: translateY(-5px);
					}

					img {
						margin-right: 7px;
					}
					img:hover {
						cursor: pointer;
						box-shadow: 2px 2px 2px #707070;
						transform: translateY(-5px);
					}
					.none_rwd {
						display: none;
					}
				}
			}
		}
	}
}
.bottombar {
	display: flex;
	align-items: center;
	width: 100vw;
	height: PxToVh(250);
	background-image: url("../img/normalnumber/Rectangle -1.png");

	p {
		font-size: 24px;
		color: white;
	}
	p:nth-child(1) {
		margin-left: PxToVw(297);
	}
	p:nth-child(2) {
		margin-left: 67px;
	}
	p:nth-child(3) {
		margin-left: 76px;
	}
	img {
		width: 64px;
		height: 64px;
		margin-left: 111px;
		margin-right: 20px;
	}
	h1 {
		margin-right: 96px;
		font-family: Lato;
		font-size: 30px;
		color: white;
		font-weight: bold;
	}
	.fa-facebook-f {
		margin-left: 46px;
		font-size: 33px;
		color: white;
	}
	.fa-instagram {
		margin-left: 75px;
		font-size: 30px;
		color: white;
	}
	.fa-youtube {
		margin-left: 66px;
		font-size: 27px;
		color: white;
	}
}
@media screen and (max-width: 1280px) {
	.wrapper {
		.rightbar {
			.features {
				width: 250px;
				align-items: center;
				// margin-left: 900px;

				.personal {
					width: 65px;
					height: 23px;
				}
				.login {
					width: 60px;
					height: 23px;
				}
			}
			.select {
				.select_normalnumber {
					font-size: 13px;
				}
				.select_hightlevel {
					font-size: 13px;
				}
			}

			.main {
				.left {
					.name {
						font-size: 21px;
						img {
							width: 20px;
						}
					}
					.artimg {
						h1 {
							font-size: 16px;
							bottom: 50px;
						}
					}

					.mastername {
						font-size: 24px;
						img {
							width: 20px;
						}
					}
					.intro {
						font-size: 14px;
						img {
							width: 20px;
						}
					}

					.visit {
						.good {
							width: 151px;
							height: 68px;
							.p1 {
								font-size: 24px;
								margin-bottom: 13px;
							}
							.p2 {
								font-size: 13px;
							}
						}

						.tour {
							width: 156px;
							height: 68px;
							margin-right: 5px;
							.p1 {
								font-size: 24px;
								margin-bottom: 13px;
							}
							.p2 {
								font-size: 13px;
							}
						}
						.message {
							width: 116px;
							height: 68px;
							.p1 {
								font-size: 24px;
								margin-bottom: 13px;
							}
							.p2 {
								font-size: 13px;
							}
						}
					}
				}

				.right {
					.personal {
						height: 335px;
						h1 {
							font-size: 18px;
							// outline: 2px solid cadetblue;
						}
						.personal_works {
							img {
								width: 120px;
								height: 141px;
							}
						}
						.authority_pull {
							.personal_OffShelf {
								font-size: 17px;
								.fa-arrow-down {
									font-size: 47px;
									bottom: 5px;
								}
								p:nth-child(2) {
									font-size: 27px;
									bottom: 40px;
									right: 70px;
								}
								p:nth-child(3) {
									font-size: 21px;
									bottom: 63px;
									right: 58px;
								}
								p:nth-child(4) {
									bottom: 70px;
									right: 45px;
								}
								p:nth-child(5) {
									bottom: 75px;
									right: 32px;
								}
							}
						}

						.fillet_down {
							width: 106px;
							height: 106px;
							// outline: 2px solid cadetblue;
							bottom: -53px;
							right: -53px;
						}
					}
					.authority {
						.authority_top {
							h1 {
								font-size: 18px;
							}
						}

						.authority_upload {
							top: 5px;
							right: 5px;
							.personal_OnShelf {
								font-size: 17px;

								.fa-arrow-up {
									font-size: 47px;
									top: 0px;
									right: 12px;
								}

								p:nth-child(2) {
									font-size: 27px;
									top: 10px;
									right: 60px;
								}
								p:nth-child(3) {
									font-size: 21px;
									top: 33px;
									right: 55px;
								}
								p:nth-child(4) {
									top: 45px;
									right: 47px;
								}
								p:nth-child(5) {
									top: 55px;
									right: 32px;
								}
								p:nth-child(6) {
									position: absolute;
									top: 62px;
									right: 21px;
									// outline: 2px solid cadetblue;
								}
								p:nth-child(7) {
									position: absolute;
									top: 65px;
									right: 7px;
									// outline: 2px solid cadetblue;
								}
							}
							.fillet_up {
								width: 106px;
								height: 106px;
								// outline: 2px solid cadetblue;
								top: -60px;
								right: -60px;
							}
						}
						.authority_down {
							.authority_image {
								width: 600px;
								img {
									width: 120px;
									height: 118px;
								}
							}
							.authority_btn {
								display: flex;
								width: 150px;
								height: 100%;
								flex-direction: column;
								// outline: 2px solid cadetblue;

								.authority_btn_down {
									line-height: 22px;

									.work_btn {
										width: 100px;
										height: 30px;
										span {
											margin-left: 5px;
										}
									}
									.trash_btn {
										width: 100px;
										height: 30px;
									}
								}
							}
						}
					}

					.authority::-webkit-scrollbar-track {
						box-shadow: inset 0 0 6px rgb(255, 255, 255);
						background-color: #ffffff;
						border: 1px solid #555555;
					}

					.authority::-webkit-scrollbar {
						width: 5px;
						background-color: #f5f5f5;
					}

					.authority::-webkit-scrollbar-thumb {
						background-color: #d6cfcf;
						border: 1px solid #555555;
						// border-radius: 4px;
					}

					.backimage_select {
						width: PxToVw(780);
						margin-bottom: 20px;

						p {
							font-size: 16px;
						}
						.nothing {
							width: 70px;
							height: 55px;
							line-height: 55px;
						}
						img {
							width: 70px;
							height: 55px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		.rightbar {
			.features {
				margin-left: 320px;
			}

			.select {
				.select_normalnumber {
					width: 265px;
					height: 30px;
					line-height: 30px;
				}
				.select_hightlevel {
					width: 265px;
					height: 30px;
					line-height: 30px;
				}
			}

			.main {
				display: flex;
				flex-direction: column;
				.left {
					.name {
						float: right;
						width: 218px;
						height: 36px;
						padding-top: 0px;
						padding-bottom: 0px;
						margin-right: 73px;
						margin-bottom: 10px;
					}
					.artimg {
						float: left;
						// outline: 2px solid cadetblue;
						h1 {
							font-size: 24px;
							bottom: -25px;
						}
						.tag {
							width: 530px;
							bottom: -100px;
							button {
								height: 30px;
							}
						}

						.art {
							width: 296px;
							height: 227.72px;
						}
					}
					.mastername {
						float: right;
						width: 218px;
						height: 36px;
						font-size: 16px;
						margin-right: 73px;
						// outline: 2px solid cadetblue;
						margin-bottom: 10px;
					}
					.intro {
						float: right;
						width: 218px;
						height: 36px;
						font-size: 12px;
						margin-right: 73px;
						padding-left: 0px;
						margin-bottom: 20px;
						padding-bottom: 30px;
						p {
							width: 135px;
							// outline: 2px solid cadetblue;
						}
					}
					.visit {
						float: right;
						width: 218px;
						height: 36px;
						margin-top: 0px;
						margin-right: 70px;
						.good {
							width: 68px;
							height: 46px;
							padding: 5px;
							margin-right: 10px;
							.p1 {
								font-size: 16px;
								margin-bottom: 10px;
							}
							.p2 {
								font-size: 12px;
							}
						}
						.tour {
							width: 71px;
							height: 46px;
							padding: 5px;
							margin-right: 10px;

							.p1 {
								font-size: 16px;
								margin-bottom: 10px;
							}
							.p2 {
								font-size: 12px;
							}
						}
						.message {
							width: 55px;
							height: 46px;
							padding: 5px;
							margin-right: 10px;

							.p1 {
								font-size: 16px;
								margin-bottom: 10px;
							}
							.p2 {
								font-size: 12px;
							}
						}
					}
				}
				.right {
					.personal {
						margin-top: 80px;
						width: 530px;
						height: 290px;
						h1 {
							width: 75px;
						}
					}
					.authority {
						width: 535px;
						.authority_top {
							h1 {
								width: 110px;
								font-size: 18px;
							}
						}
						.authority_upload {
							top: 7px;
							right: 12px;
							.personal_OnShelf {
								.fa-arrow-up {
									top: -2px;
									right: 8px;
								}
							}
							.fillet_up {
								right: -65px;
							}
						}

						.authority_down {
							margin-right: 2vw;
						}
					}
					.backimage_select {
						width: 530px;
						margin-bottom: 20px;
						.none {
							width: 70px;
							height: 55px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.wrapper {
		.rightbar {
			margin-left: PxToVw(450);
			.features {
				display: none;
			}

			.features_rwd {
				display: block;
				display: flex;
				width: 300px;
				height: PxToVh(27);
				color: black;
				// margin-left: PxToVw(1330);
				margin-top: 50px;
				margin-bottom: 36px;
				align-items: center;
				margin-left: 185px;
				.fa-search {
					width: 20px;
				}

				.fa-user-friends {
					font-size: 14px;
					margin-left: 20px;
				}
				.fa-pen {
					margin-left: 20px;
					font-size: 14px;
				}
			}

			.select {
				margin-bottom: 0px;
				.select_normalnumber {
					width: 264px;
					display: none;
				}
				.select_hightlevel {
					width: 264px;
					box-sizing: border-box;
				}
			}

			.main {
				display: flex;
				flex-direction: column;
				.left {
					.name {
						display: none;
						float: none;
					}
					.artimg {
						float: none;

						h1 {
							font-size: 24px;
							bottom: 10px;
							left: 0px;
						}
						.tag {
							width: 264px;
							bottom: -90px;
							left: 0px;
							button {
								height: 30px;
							}
						}

						.art {
							width: 264px;
							height: 205px;
						}
					}
					.name_rwd {
						display: block;
						align-items: center;
						display: flex;
						justify-content: space-between;
						padding: 0px 16px 0px 100px;
						background-color: #f1f1f1;
						box-sizing: border-box;
						font-size: 16px;
						margin-top: 100px;
						width: 264px;
						height: 36px;
						margin-right: 100px;
						margin-bottom: 10px;
						img {
							width: 20px;
						}
					}
					.mastername {
						float: none;
						width: 264px;
					}
					.intro {
						float: none;
						width: 264px;

						p {
							width: 135px;
							// outline: 2px solid cadetblue;
						}
					}
					.visit {
						float: none;
						width: 264px;

						.good {
							width: 88px;
							// height: 46px;
							// padding: 5px;
							// margin-right: 10px;
						}
						.tour {
							width: 88px;
							// height: 46px;
							// padding: 5px;
							// margin-right: 10px;
						}
						.message {
							width: 69px;
							// height: 46px;
							// padding: 5px;
							// margin-right: 10px;
						}
					}
				}
				.right {
					.personal {
						margin-top: 0px;
						width: 264px;
						height: 290px;
						overflow-y: auto;
						overflow-x: hidden;
						h1 {
							width: 75px;
						}
						.personal_works {
							flex-direction: column;
						}
					}
					.authority {
						width: 264px;
						.authority_top {
							h1 {
								width: 110px;
								font-size: 18px;
							}
						}
						.authority_upload {
							top: 7px;
							right: 7px;
							.personal_OnShelf {
								.fa-arrow-up {
									top: -2px;
									right: 13px;
								}
							}
						}
						.authority_down {
							margin-right: 2vw;
						}
					}
					.backimage_select {
						width: 264px;
						flex-wrap: wrap;
						margin-bottom: 20px;
						padding: 0px;
						// outline: 2px solid cadetblue;
						justify-content: space-around;

						p {
							width: 173px;
							height: 32px;
							text-align: center;
							margin: 0 auto;
						}
						.none {
							display: none;
						}

						img {
							width: 124px;
							height: 96px;
							margin: 0px;
							margin-bottom: 5px;
							// margin-left: px;
						}

						.none_rwd {
							display: block;
							width: 264px;
							height: 30px;
							border: 1px solid #707070;
							line-height: 30px;
							margin-top: 10px;
							box-sizing: border-box;
							// outline: 2px solid cadetblue;
						}
					}
				}
			}
		}
	}
}
