@import 'variables';
@import 'reset';
@import 'button';

@mixin notebook{
  @media(max-width:$break-point-lg){
    @content;
  }
}

@mixin pad {
  @media (max-width:$break-point-md) {
    @content;
  }
}
@mixin mobile{
  @media (max-width:$break-point-xs) {
    @content;
  }
}


body{
  // outline: 1px solid green;
  color: map-get($color, 'black');
  display: inline-block;
  // overflow-y: scroll;
  overflow-x: scroll;
  font-family: $fontFamily;
  .leftbar{
    // outline: 1px solid red;
    background-color: map-get($color, 'black');
    height: 100vh;
    width: 17vw;
    margin: 0;
    position: fixed;
    z-index: 3;
    @include notebook{
      width: 13vw;
    }
    @include pad{
      position: fixed;
      width: 13vw;
    }
    @include mobile{
      width: 15vw;
      .leftbar{
        .logo{
          width: 80%;
          height: 8%;
          margin-top: 5vh;
          justify-content: space-around;
        }
        p{
          display: none;
        }
      }

    }
  }
}

body::-webkit-scrollbar{
  display: none;
}

.title{
  // outline: 1px solid hotpink;
  border-bottom: 20px solid #7e7e7e;
  width: 1100px;
  margin-left: 20vw;
  padding-top: 80px;

  position: sticky;
  @include notebook{
    margin-left: 18vw;
    width: 60vw;
  }
  @include pad{
    padding-top: 10vh;
  }

  h1{
    font-size: $titleM;
    margin: 0;
    margin-bottom: 30px;  
    @include notebook{
      font-size: $titleS;
    }
  }
}

.container{
  // outline: 2px solid cadetblue;
  height: 60vh ;
  width: 90vw;
  overflow: hidden;
  // overflow-x: scroll;

  margin-top: 2rem;
  margin-left: 20vw;
  margin-bottom: 5.5rem;
  padding: 0;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas: 
  "big1 big1 big1 small1 small2 big3 big3 small7"
  "big1 big1 big1 big2 big2 big3 big3 small6 "
  "big1 big1 big1 big2 big2 small3 small4 small5";
  grid-gap: 20px;

  @include notebook{
    margin-left: 18vw;
    grid-gap: 10px;

    height: 50vh;
    width: 80vw;  
  }
  @include pad{
    height: 100vh;
    width: 80vw;

    grid-gap: 15px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'big1 big1 big1 big1'
    'big1 big1 big1 big1'
    'big1 big1 big1 big1'
    'small1 small2 big2 big2'
    'big3 big3 small3 small4';
  
  }

  
  .big1{
    background: url('../img/forest/b2c9b6af0117b3e2939a2eb8a4fa02c0.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: big1;
    transition: 1s;
    p{
      color: #666;
      opacity: 0;
      text-align: center;
      line-height: 1.2rem;
      height: 100%;
      transition: 1.3s;
      margin-top: 3rem;
      &:hover{
        color: map-get($color, 'white');
        opacity: 1;
      }
    }
    &:hover{
      transform: scale(1.05);
    }
  }

  .big2{
    // background: #666;
    background: url("../img/forest/e0bc0e6d881450043f5a097965f6712d.jpg");
    background-size: cover;
    background-position: center;
    grid-area: big2;
  }
  
  .big3{
    background: url("../img/forest/d4023d0957e0ca269e49e4251bd37ca0.jpg");
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
    // background: #666;
    grid-area: big3;
  }
  
  .small1{
    // background: #999;
    background: url("../img/forest/c29b92ad839293fcdba8b92673b65a47.jpg");
    background-size: cover;
    background-position: center;
    grid-area: small1;
    transition: 1.3s;
    &:hover{
      transform: scale(1.1);
    }
  }

  .small2{
    // background: #999;
    background: url("../img/forest/5cfbc2dbf42f6f7d886e01f71af9ce7f.jpg");
    background-size: cover;
    background-position: center;
    grid-area: small2;
  }
  
  .small3{
    // background: #999;
    background: url("../img/forest/劉巧玲_森之冥想之三.PNG");
    background-size: cover;
    background-position: center;

    grid-area: small3;
  }
  
  .small4{
    // background: #999;
    background: url("../img/forest/64884b2074435fb7ddc96d52bb8812e7.jpg");
    background-size: cover;
    background-position: center;
    grid-area: small4;
  }
  
  .small5{
    // background: #999;
    background: url("../img/forest/5fdf7800df502778bf4f144d74e3570b.jpg");
    background-size: cover;
    background-position: top;

    grid-area: small5;
  }
  
  .small6{
    // background: #999;
    background: url("../img/forest/8d887d3a04f55f2f78cd6e445da6fd0d.jpg");
    background-size: cover;
    background-position: top;

    grid-area: small6;
  }
  
  .small7{
    // background: #999;
    background: url("../img/forest/9ac750b0224a2df9392e5d30f3385e1b.jpg");
    background-size: cover;
    background-position: top;
    grid-area: small7;
  }
  
  .small8{
    background: #999;
    grid-area: small8;
  }
  
  .small9{
    background: #999;
    grid-area: small9;
  }

}

