@import '../base/reset';
@import '../base/base';

/* 字型: "PT Serif", serif, "Noto Serif TC", serif; 'Montserrat', sans-serif;*/

// *{
//     outline: 1px red solid;
// } 

body {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'PT Serif',serif;
    // background-color: #fff;

    position: relative;

    //取消卷軸
    overflow-y: hidden;
    overflow-x: hidden;
    //取消滑鼠
    cursor: none !important;
}

a{
    cursor: none;
}

// openingAni

.openingAni{
    z-index: 15;
    top: 0;
    left: 0;
    position: fixed;
    
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;

    animation: end 1s 3.5s forwards;
}
@keyframes end{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.nameAll{
    color: #fff;
    font-family: 'Montserrat';
    letter-spacing: 5px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.nameAll img{
    width: 150px;
    margin: 0 15px;
    opacity: 0;
}

.nameAni-outer1{
    overflow: hidden;
    margin-top: 50px;
    opacity: 0;
    animation: ccc 1s forwards;
}
.nameAni1{
    display: block;
    width: auto;
    height: 1em;
    background-color: #000;
    animation: aaa 1s forwards;
    position: relative;
    top: -1em;
    left: 0;
}
@keyframes aaa {
    0%{transform: translateX(0px)}
    100%{transform: translateX(3.5em);}
}
.nameAni-outer2{
    overflow: hidden;
    margin-top: 50px;
    opacity: 0;
    animation: ccc 1.5s .8s forwards;
}
.nameAni2{
    display: block;
    width: auto;
    height: 1em;
    background-color: rgb(0, 0, 0);

    position: relative;
    top: -1em;
    left: 0;
    animation: bbb 1.5s .8s forwards;
}
@keyframes bbb {
    0%{transform: translateX(0px);}
    100%{transform: translateX(5em);}
} 
.nameAni3{
    animation: ccc 2s 2s forwards;
}
@keyframes ccc {
    0%{opacity: 0;}
    100%{opacity: 1;}
} 
// ani end

.bgcolorFor4Topic{
    width: 20vw;
    height: 100vh;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    @include pad{
        display: block;
        width: 100vw;
        height: 20vh;
        top: auto;
        z-index: 1;
    }
}
.swiper-container{
    width: 100%;
    height: 100%;
}

// 滑鼠設定
.cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
    pointer-events: none; 
    z-index: 1010;
}

.cursor-outside{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #E5E5E5;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none; 
    z-index: 1010;
}

// LINK STYLE
.mousehover{
    text-decoration: none;
    color: #e5e5e5a2;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

// logIN-mobile start

.logInBg{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    opacity: .8;
}


// logIN-mobile end

// 左側選單 start
.indexSideBar{
    padding-top: 5vh;
    padding-bottom: 8vh;
    box-sizing: border-box;

    width: 15.6vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    @include pad{
        justify-content: unset;
        width: 20vw;
    }
    @include mobile{
        width: 23vw;
    }

    img{
        width: 80px;
        @include pad{
            width: 60px;
        }
        @include mobile{
            width: 50px;
        }
    }

    ul{
        align-items: center;
        font-weight: normal;
        font-size: $paragraph;
        display: flex;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        transform: rotate(-180deg);
        color: white;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
        @include pad{
            visibility: hidden;
        }

    }

    li:first-child{
        padding-bottom: 15px;
        // &:hover{
        //     margin-left: 5px;
        // }
    }

    a{
        text-decoration: none;
        color: map-get($color, 'white');
        line-height: 25px;
        &:hover{
            color: map-get($color,'lightBrown');
            transition: .5s;
        }
    }

    b{
        width: 25px;
        height: 1px;
        background-color: map-get($color, 'brown');
        margin-bottom: 15px;
    }
}

.menu{
    color: map-get($color, 'white');
    z-index: 2;

    &:hover p{
        transform: translateY(5px);
        color: map-get($color, 'lightBrown');
        transition: .2s;
    }
    &:hover .indexMenuline1{
        background-color: map-get($color, 'lightBrown');
        transition: .2s;
    }
    &:hover .indexMenuline2{
        background-color: map-get($color, 'lightBrown');
        transition: .2s;
    }
    @include pad{
        margin-top: 5vh;
        display: none;
    }
    p{
        text-align: center;
        font-size: $paragraph;
        
        @include pad{
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
            margin-bottom: 4vw;
            margin-left: .5vw;

            &:hover{
                transform: none;
            }
        }
    }
    
}
.indexMenuline1{
    margin-top: 1.5vh;
    display: block;
    background-color: map-get($color, 'white');
    width: 4vw;
    height: 1.8px;

    z-index: 2;
    // @include pad{
    //     transform: rotate(90deg) translateY(1vw) translateX(1vw);
    // }
    // @include mobile{
    //     width: 5vw;
    //     height: 1.8px;    
    // }
}
.indexMenuline2{
    display: block;
    background-color: map-get($color, 'white');
    width: 2vw;
    height: 1.5px;
    margin-top: .8vh;

    z-index: 2;
    // @include pad{
    //     transform: rotate(90deg) translateY(-1vw) translateX(-1vw);
    // }
    // @include mobile{
    //     width: 3vw;
    //     height: 1.5px;
    //     transform: rotate(90deg) translateY(-1vw) translateX(-1.5vw);
    // }
}
.smallSize_menuOpenCloseAni{
    &:hover span{
        opacity: .8;
        transition: .5s;
    }
    
    @include pad{
        display: flex;
        width: auto;
        height: 60px;
        margin-top: 20px;

    
        .smallSize_indexMenuline1,.smallSize_indexMenuline2{
            display: block;
            width: 2px;
            height: 60px;
            background-color: #fff;
            opacity: .5;
        }
        .smallSize_indexMenuline2{
            margin-left: 10px;
            height: 40px;
        }
    }
    
}

// == menu page ==

.menu_bar{

    width: 84.4vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: map-get($color, 'black');
    padding-left: 15.6vw;
    display: flex;
    padding-top: 41vh;

    @include pad{
        padding-top: 20vh;
        flex-direction: column;
    }

    .menuGsapLine{
        display: block;
        width: 82.71vw;
        height: 1px;
        background-color: #F1F1F1;

        position: absolute;
        right: -200vw;
        top: 41vh;

        @include pad{
            display: none;
        }
    }

    .smallSizeCloseBtn{
        @include pad{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5%;
            left: 6%;
            opacity: 0;

            div::before, div::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 2px;
                background-color: #fff;
            }
            div::before {
                transform: rotate(-45deg);
            }
            div::after {
                transform: rotate(45deg);
            }
        }
    }

    .exhibits-title-outer{
        display: block;
        overflow: hidden;

        position: absolute;
        right: 5vw;
        top: 5vh;

        &:hover{
            .exhibits-title,.exhibits-titleHover{
                transform: translateY(100%);
            }
        }

        .exhibits-title,.exhibits-titleHover{
            transition: transform .6s;
        }
        .exhibits-titleHover{
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .menu_personal_exhibits{
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #ffffff;
        // position: absolute;
        // right: 5vw;
        // top: 5vh;
        opacity: 0;

        z-index: 5;

        font-size: $titleS;
        letter-spacing: 0.3rem;

        @include notebook{
            font-size: 1.3rem;
        }
        @include pad{
            right: 0;
            left: 23vw;
            top: 10vh;
            font-size: 1.5rem;
        }
        @include mobile{
            left: 18vw;
            top: 7vh;
            font-size: 1rem;
            letter-spacing: 0.2rem;
        }
    }
    
    .menu_child{
        a{
            display: block;
            text-align: center;
            text-decoration: none;
            width: 22.7vw;
            font-size: 70px;
            color:#646464;
            border-top: 1px solid transparent;
            box-sizing: border-box;
            padding-top: 5.5vh;
            opacity: 0;
            
            &:hover{
                border-top: 3px solid #FBFBF6;
                color: #fff; 
                @include pad{
                    border-top: 1px solid transparent;
                    transition: 1s;
                }
            }
            &:hover img{
                display: block;
                animation: menuImgDown 1s ease-out forwards;
                @keyframes menuImgDown{
                    0%{transform: translateY(5px); opacity: 0; }
                    100%{transform: translateY(0px); opacity: 1; }
                }

                @include pad{
                    display: none;
                }
            }
            
            img{
                display: none;
                position: absolute;
                z-index: -1;
                width: 22vw; 
                height: 35vw;
                margin-left: 0.5vw;
                opacity: 70%;
            }

            @include notebook{
                font-size: 3.4rem;
            }
            @include pad{
                margin-left: 15vw;
                line-height: 10vh;
                text-align: left;
                font-size: 5rem;
            }
            @include mobile{
                font-size: 3rem;
            }
        }
    }
    .menu_exhibits {
        a{
            &:hover img{
                display: block;
                animation: menuImgUp 1s ease-out forwards;
                @keyframes menuImgUp{
                                0%{transform: translateY(0px); opacity: 0; }
                                100%{transform: translateY(5px); opacity: 1; }
                            }
                
                @include pad{
                    display: none;
                    }
            }
        }
    }
    .notthings{
        a{
            width: 16.25vw;
            &:hover{
            border-top: 1px solid #F1F1F1;
            }
        }
    }

    .menu_about{
        margin-left: 1.69vw;

        @include pad{
            margin-left: 0;
        }
        a{
            img{
            top: 32vh;
            }
        }    
    }

    .menu_exhibits{
        a{
            img{
            top: 6.5vh;
            }
        }    
    }

    .menu_postcard{
        a{
            img{
            top: 30vh;
            }
        }    
    }
    .join{
        height: 40px;
        position: absolute;
        right: 5vw;
        top: 87vh;
        display: flex;
        z-index: 5;
        overflow: hidden;

        opacity: 0;
        letter-spacing: 0.3rem;

        .join-titleHover,.join-title{
            transition: transform .6s;
        }

        &:hover{
            .join-title,.join-titleHover{
                transform: translateY(-100%);
            }
        }

        @include pad{
            right: 33vw;
        }
        .line{
            width: 15vw;
            height: 3px;
            background-color: map-get($color, 'lightBrown');
            margin-top: 17.5px;
            margin-right: 16px;
            z-index: 6;
            @include pad{
                width: 25vw;
                height: 2px;
                margin-top: 20px;
            }
            @include mobile{
                width: 15vw;
            }
        }
        a{
            line-height: 40px;
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: bold;
            color: #ffffff;
            font-size: $titleS;
            @include notebook{
                font-size: 1.3rem;
            }
            @include pad{
                font-size: 1.5rem;
            }
            @include mobile{
                font-size: 1rem;
            }
        }


    }
}

.none{
    display: none !important;
    transition: 2s;
}
// 左側選單 end


// 頁面顯示bar start 
.pageBar{
    display: flex;
    flex-direction: column;

    align-self:flex-end;
    justify-items: center;

    position: fixed;
    top:calc((100% - 267px) / 2);
    right: 6vw;
    z-index: 2;

    p{
        writing-mode: vertical-lr;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        display: block;
        width: 21px;
        height: 21px;

        @include pad{
            writing-mode: initial;
        }
        @include mobile{
            font-size: 18px;
        }
    }

    @include notebook{
        right: 4vw;
    }
    @include pad{
        flex-direction:initial;
        top: auto;
        right: 68vw;
        bottom: 12vh;
    }
    @include mobile{
        right: 65vw;
    }
}
.indexNum-text{
    position: relative;
    overflow: hidden;
    display: block;
    width: 22px;
    height: 27px;
    opacity: 1;
    
    // .indexNumMove{
    //     transform: translateX(-130%);
    // }

    .indexNum,.indexNumAni{
        transition: transform .6s;
        writing-mode: vertical-lr;
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: normal;
        opacity: 1;

        @include pad{
            writing-mode: initial;
        }
        @include mobile{
            font-size: 18px;
        }
    }

    .indexNumAni{
        position: absolute;
        top: 0;
        left: 130%;
        width: 100%;
        height: 100%;
    }
    .indexNum{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.pageBarLine{
    /* display: inline; */
    width: 3px;
    height: 180px;
    background-color: black;
    margin: 1vw auto;
    display: block;
    border-radius: 15px;

    position: relative;
    z-index: 2;

    @include pad{
        width: 100px;
        height: 2px;
        margin: auto 1vw;
    }
    @include mobile{
        width: 55px;
        margin: auto 2vw;
    }
} 

.pageBarLineNow{
    width: 3px;
    height: 45px;
    background-color: map-get($color,'gray_2');
    @include pad{
        width: 25px;
        height: 2px;
    }
    @include mobile{
        width: 13.75px;
    }
}
// 頁面顯示bar end

// 音樂btn start
.musicControlBtn{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    right: 7.5vw;
    bottom: 3vw;

    z-index: 2;
    p{
        font-size: .8rem;
        font-family: 'Montserrat',sans-serif,
    }
    @include mobile{
        display: none;
    }
}
.musicControlBtnSpan{
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
.line1{
    display: block;
    height: 20px;
    width: 2px;
    background-color: black;
    margin-right: 10px;
}
.line2{
    display: block;
    height: 40px;
    width: 2px;
    background-color: black;
    margin-right: 10px;
}
.line3{
    display: block;
    height: 25px;
    width: 2px;
    background-color: black;
}  

.bar{
    animation: equalize 4s 0s infinite;
    &:nth-child(1) { 
        animation-delay: -1.9s;
    }
    &:nth-child(2) { 
        animation-delay: -2s;
    }
    &:nth-child(3) { 
        animation-delay: -2.3s;
    }
}
    @keyframes equalize {
        0% {
        height: 5.5vh;
        }
        4% {
        height: 5.0vh;
        }
        8% {
        height: 4.5vh;
        }
        12% {
        height: 4.0vh;
        }
        16% {
        height: 3.5vh;
        }
        20% {
        height: 4.0vh;
        }
        24% {
        height: 4.5vh;
        }
        28% {
        height: 2.0vh;
        }
        32% {
        height: 3.0vh;
        }
        36% {
        height: 5.5vh;
        }
        40% {
        height: 3.0vh;
        }
        44% {
        height: 4.0vh;
        }
        48% {
        height: 5.0vh;
        }
        52% {
        height: 3.0vh;
        }
        56% {
        height: 2.0vh;
        }
        60% {
        height: 3.0vh;
        }
        64% {
        height: 4.0vh;
        }
        68% {
        height: 5.0vh;
        }
        72% {
        height: 5.5vh;
        }
        76% {
        height: 5.7vh;
        }
        80% {
        height: 3.0vh;
        }
        84% {
        height: 2.0vh;
        }
        88% {
        height: 3.0vh;
        }
        92% {
        height: 4.0vh;
        }
        96% {
        height: 4.5vh;
        }
        100% {
        height: 5.0vh;
        }
    }
    .hide{
        animation: none;
    }
// 音樂btn end


// 滑動看更多 start
.scrollToSeeMore{
    position: fixed;
    right: calc((100%-200px)/2);
    bottom: 0;
    z-index: 2;

    display: flex;
    height: 80px;
    align-items: center;
    justify-self: end;
    @include pad{
        right: 62vw;
        bottom: 4vh;
        font-size: bold;
        font-size: 1rem;
    }
    @include mobile{
        right: 60vw;
        bottom: 1vh;
        font-size: 16px;
        text-align: center;
    }

    .title-outer{
        position: relative;
        overflow: hidden;

        &:hover{
            .title,.titleHover{
                transform: translateY(100%);
            }
        }

        .titleHover,.title{
            transition: transform .6s;

            color: map-get($color,'white');
            font-size: .5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: .5em;
            padding-right: 2vw;

            @include pad{
                color: black;
                font-size: 1rem;
                padding-right: 0;
                letter-spacing: .3em;
            }
            @include mobile{
                font-size: .8rem;
                letter-spacing: .1em;
            }
        }
    }
        .titleHover{
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
        }
}
.SeeMoreBar{
    background-color: transparent;
    width: 1px;
    height: 80px;

    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;

    @include pad{
        display: none;
    }
}
.rollingBar1{
    background-color: white;
    animation: roll1 1.5s cubic-bezier(.77,0,.175,1) infinite;
    z-index: 3;
    
    @keyframes roll1 {
        0%{transform: translate(0px, 0px); height: 0px;}
        100%{transform: translate(0px, 80px); height: 100px;}
    }
}
// 滑動看更多 end

// 右上方選單 start

.features {
    display: flex;
    width: 250px;
    height: 27px;
    color: map-get($color, 'black');

    align-items: center;
    position: fixed;
    top: 50px;
    right:1vw;
    z-index: 3;

    a{
        text-decoration: none;
        color: map-get($color, 'black');
        font-size: $paragraph;
        font-family: 'Noto Serif TC';
        @include pad{
            color:map-get($color ,'white');
        }
        @include mobile{
            font-size: 14px;
        }
    }
    .fa-search {
        font-size: 23px;
        margin: 0;
        @include mobile{
            font-size: 20px;
        }
    }
    .personal {
        width: 64px;
        height: 23px;
        margin-left: 20px;
        border-bottom: 3px solid #e5e5e5;
     // outline: 2px solid chocolate;
        @include mobile{
            display: none;
            border-bottom: 1.5px solid #e5e5e5;
        }
    }
    .logInOption{
        position: relative;

        .login {
            width: 56px;
            height: 23px;
            margin-left: 20px;
            display: flex;
            border-bottom: 3px solid #e5e5e5;
         // outline: 2px solid chocolate;
            
            &:hover div,&:hover a{
                display: block;
            }
            
            @include mobile{
                height: 20px;
                border-bottom: 1.5px solid #e5e5e5;
            }
        }
        .logOut{
            display: none;

            position: absolute;
            top: 140%;
            left: 20px;

            width: 60px;
            height: 25px;
            background-color: #e5e5e56e;
            border-radius: 13px;
            text-align: center;
            line-height: 25px;
            a{
                color: gray;
            }
            &:hover{
                background-color: #e5e5e5e7;
                a{
                    color: black;
                }
            }
        }
    }
    .fa-user-friends {
        font-size: 15px;
        margin: 0;
        margin-left: 4px;
    }
    .fa-bell {
        font-size: 20px;
        margin-left: 15px;
        margin-bottom: 6px;

        @include mobile{
            display: none;
        }
    }
    @include notebook{
        right: -1vw;
    }
    @include pad{
        color:map-get($color ,'white');
    }
    @include mobile{
        right: -30vw;
        top: 36px;
    }
}
// 右上方選單 end


// search Bar popUp
#searchBar{
    position: fixed;
    top:0;
    right: -3vw;
    width: 23vw;
    height: 100vh;
    
    color: black;
    background-color: #fff;
    z-index: 6;
    box-shadow: 3px 3px 20px black;
    @include notebook{
        width: 25vw;
    }
    @include pad{
        width: 38vw;
    }
    @include mobile{
        width: 65vw;
    }

    opacity: 0;
    pointer-events: none;
    transition: .6s ease;

    &:not(.-active){
        *{
            pointer-events: none !important;
        }
    }


    &.-active{
        opacity: 1;
        pointer-events: auto;
        right: 0;
    }
}

.searchBarBlack{
    display: block;
    width: 80vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: .8;
    @include pad{
        width: 65vw;
    }

    opacity: 0;
    pointer-events: none;

    transition: .6s ease;

    &.-active{
        opacity: .8;
        pointer-events: auto;
    }
}
.searchBarTop{
    padding: 5vh;
    border-bottom: 1px solid #E5E5E5;
    @include notebook{
        padding: 5vh 1vw 3vw 3vh;
    }
    @include mobile{
        padding: 5vh 3vw 6vw 3vh;
    }
}
// .searchBarGobackBtn{
//     position: fixed;
//     top: 4vh;
//     right: 2vw;
//     width: 25px;
//     @include mobile{
//         right: 5vw;
//         width: 20px;
//     }
// }
.searchBarArrow{
    // position: fixed;
    // top: 85px;
    // right: 2vw;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    @include notebook{
        margin-left: 10px;
    }
    &:hover{
        opacity: .5;
    }
}
.fa-search{
    font-size: 23px;
    display: flex;
}
.searchTitle{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 24px;
}
.searchTitle p{
    z-index: 6;
    margin-left: 10px;
    margin-bottom: 3px;
    opacity: .5;
}

#searchBarInput{
    outline: none;
    border: none;
    margin-top: 21px;
    width: 235px;
    opacity: 1;
    border-bottom: 2px solid #707070;
    font-size: 16px;
    @include notebook{
        width: 220px;
    }
    @include pad{
        width: 200px;
    }
    @include mobile{
        width: 180px;
    }
}
// .searchLine{
//     width: 100%;
//     height: 1px;
//     border-bottom: 1px solid #E5E5E5;
//     position: absolute;
//     top: 21vh;
//     @include pad{
//         top: 14vh;
//     }
//     @include mobile{
//         top: 20vh;
//     }
// }
.notSearch{
    position: absolute;
    top: 40vh;
    
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    h4{
        margin-top: 10px;
        font-family: 'Montserrat';
        line-height: 1.2rem;
    }
}
.searchBar_Found{
    display: block;
    width: 100%;
    height: auto;

    li{
        padding: 3.5vh 5vh;
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        pointer-events: all;

        @include notebook{
            padding: 2.5vh 3vh;
        }

        .personalRoom{
            display: block;
            width: 3px;
            height: 25px;
            background-color: #886F5E;
            margin-right: 10px;
        }
        &:hover{
            background-color: #e5e5e58a;
        }
    }
    a{
        display: block;
        width: 100%;
        height: 100%;
        color: black;
    }
    
}


// search Bar popUp end


// 四大主題頁面 start

// --- 進入按鈕設定 ---
.exBtn{
    overflow: hidden;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

    position: absolute;
    right: -115px;
    top: calc((100% - 380px) / 2);
    z-index: 1;
    @include pad{
        right: 7vw;
        top: auto;
        bottom: -125px;
        z-index: 2;
    }
    @include mobile{
        bottom: -95.5px;
        right: 5vw;
    }

    a{
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 1.5rem;
        color: #FFF;

        .textAni{
            display: none;
            animation: none !important;
        }
    }
    &:hover{
        filter: brightness(.5);
    }
    &:hover .textAni{
        display: block;
        width: 150px;
        height: 50px;
        color: white;

        position: absolute;
        right: 40px;
        top: calc((100% - 50px) / 2);

        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Montserrat';
        
        z-index: 3;
        transition: 1s;

        &_CH{
            // top: calc((100% - 50px) / 2);
        }
        &_EN{
            // top: calc((100% - 100px) / 2);
        }

    }
}
// --- 進入按鈕設定 end ---

// == 切換頁動畫設定 == 

.swiper-slide-active  {

    // 文字動畫

    $base-delay:.1s;

    .exBtn__inner{
        transform: scale(1);
    }

    .exBtn a{
        transform: translateY(0);
    }

    .animation-outer{

        &__inner{
            max-height: 1em;
            opacity: 1;
            transition: 1s $base-delay ease;
        }
    }

    h2{
        .animation-outer{

            &__inner{
                max-height: 1em;
                opacity: 1;
                transition: 1s $base-delay+.2s ease;
            }
        }
    }

    .animation-p{
        transform:none;
        opacity: 1;
        transition: 1s $base-delay+.4s;
    }

    // 圖片按鈕動畫

    .slidePlace{
        position: relative;
    }
    .sliderMask{
        position: absolute;
        left: 0;
        top: 0; 

        width: 230px;
        height: 380px;

        animation: slideUp 1.5s ease;
        overflow: hidden;

        @keyframes slideUp{
            from {
                height: 380px;
                top : 0px;
            }
            to {
                height: 0px;
                top : 380px;
            }
        }
    }

}

// 文字動畫 細節

.animation-wrapper{
    position: fixed;
    width: 80vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.animation-outer{
    height: 1em;
    width: 100%;
    &__inner{
        max-height: 0;
        transition: 1s ease;
        opacity: 0;
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        overflow: hidden;
        width: 100%;

        &.-fake{
            opacity: 0 !important;
            position: relative;
            max-height: 1em;
        }
    }
}

h2{
    .animation-outer{
        &__inner{
            // transition: 1s .5s ease;
            height: 1em;
        }
    }
}
.animation-p{
    transform:translateY(-40px);
    
    opacity: 0;
    transition: 1s ease;
}

.exBtn__inner{
    transform: scale(1.5);
    transition: 1s ease;
}

// .exBtn a{
//     transform:translateY(100%);
//     transition: 1s ease;
// }

// --- 宇宙 ---
.uniWrapper {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    background-image: url(../../img/uni_bg_1.jpg);
    background-size: cover;
    color: white;

    z-index: -1;
    @include pad{
        width: 100vw;
        height: 80vh;
    }
}

.mainAreaUni{
    position: relative;
    width: 100%;

    h1{
        font-size: $titleL;
        position: absolute;
        bottom: 30%;
        left: 25vw;
        text-shadow: 1px 1px 3px map-get($color,'gray_2');
        @include mobile{
            font-size: $titleM;
        }
    }
    h2{
        font-size: $titleS;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 23%;
        left: 30vw;
        @include mobile{
            font-size: 1.5rem;
            bottom: 22%;
            left: 19vw;
        }
    }
    p{
        font-size: $paragraph;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        top: 30%;
        right: 10vw;
        line-height: 1.5rem;
        display: block;
        width: 700px;
        @include pad{
            width: 400px;
        }
        @include mobile{
            width: 270px;
            right: 5vw;
            font-size: 15px;
        }
    }
}
.exBtnUni{
    display: block;
    width: 230px;
    height: 380px;
    background-image: url(../../img/uni_bg_2.jpg);
    background-position: right 20% center;
    background-size: 350%;
    background-repeat: no-repeat;
    
    @include pad{
        width: 400px;
        height: 250px;
        background-size: cover;
    }
    @include mobile{
        width: 215px;
        height: 135px;
    }
}

// --- 海洋 ---

.oceWrapper {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    background-image: url(../../img/oce_bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    z-index: -1;
    @include pad{
        width: 100vw;
        height: 80vh;
        background-position: top;
    }
    @include mobile{
        background-position: left;
    }
}

.mainAreaOce{
    position: relative;
    width: 100%;

    h1{
        font-size: $titleL;
        position: absolute;
        bottom: 27%;
        left: 17vw;
        text-shadow: 1px 1px 3px map-get($color,'gray_2');
        @include pad{
            bottom: 29%;
        }
        @include mobile{
            font-size: $titleM;
            bottom: 28%;
        }
    }
    h2{
        font-size: $titleS;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 20%;
        left: 20vw;
        @include mobile{
            font-size: 1.5rem;
            bottom: 20%;
            left: 20vw;
        }
    }
    p{
        font-size: $paragraph;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        top: 20%;
        left: 15vw;
        line-height: 1.5rem;
        display: block;
        width: 500px;
        color: black;
        @include pad{
            width: 400px;
        }
        @include mobile{
            width: 270px;
            left: 25vw;
            font-size: 15px;
        }
    }
}

.exBtnOce{
    display: block;
    width: 230px;
    height: 380px;
    background-image: url(../../img/oce_bg_3.jpg);
    background-position: left 38% center;
    background-size: 320%;
    background-repeat: no-repeat;
    @include pad{
        width: 400px;
        height: 250px;
        background-size: cover;
        background-position: right;
    }
    @include mobile{
        width: 215px;
        height: 135px;
        background-position: right;
    }
}

// --- 森林 ---

.forWrapper {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
    
    display: flex;
    background-image: url(../../img/for_bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    z-index: -1;
    @include pad{
        width: 100vw;
        height: 80vh;
    }
}
.mainAreaFor{
    position: relative;
    width: 100%;

    h1{
        font-size: $titleL;
        position: absolute;
        bottom: 50%;
        left: 17vw;
        text-shadow: 2px 2px 3px map-get($color,'black');
        @include mobile{
            font-size: $titleM;
            bottom: 52%;
        }
    }
    h2{
        font-size: $titleS;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 45%;
        left: 19vw;
        @include pad{
            bottom: 43%;
        }
        @include mobile{
            font-size: 1.5rem;
            bottom: 45%;
            left: 19vw;
        }
    }
    p{
        font-size: $paragraph;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 35%;
        left: 22vw;
        line-height: 1.5rem;
        display: block;
        width: 700px;
        @include notebook{
            width: 600px;
        }
        @include pad{
            bottom: 30%;
            width: 400px;
        }
        @include mobile{
            width: 270px;
            right: 5vw;
            font-size: 15px;
            bottom: 25%;
        }
    }
    
}
.exBtnFor{
    display: block;
    width: 230px;
    height: 380px;
    background-image: url(../../img/for_bg_3.jpg);
    background-position: right 20% center;
    background-size: 130%;
    background-repeat: no-repeat;
    @include pad{
        width: 400px;
        height: 250px;
        background-size: cover;
    }
    @include mobile{
        width: 215px;
        height: 135px;
    }
}

// --- 地下 ---

.groWrapper{
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    background-image: url(../../img/gro_bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    z-index: -1;
    @include pad{
        width: 100vw;
        height: 80vh;
        background-position: right;
    }
}

.mainAreaGro{
    position: relative;
    width: 100%;

    h1{
        font-size: $titleL;
        position: absolute;
        bottom: 82%;
        left: 34vw;
        text-shadow: 2px 2px 3px map-get($color,'black');
        @include pad{
            bottom: 43%;
            left: 20vw;
        }
        @include mobile{
            font-size: $titleM;
            bottom: 37%;
            left: 50vw;
        }
    }
    h2{
        font-size: $titleS;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 75%;
        left: 21vw;
        @include pad{
            bottom: 35%;
            left: 21vw;
        }
        @include mobile{
            font-size: 1.5rem;
            bottom: 30%;
        }
    }
    p{
        font-size: $paragraph;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 60%;
        left: 15vw;
        line-height: 1.5rem;
        display: block;
        width: 400px;
        @include pad{
            width: 400px;
            bottom: 20%;
            left: 20vw;
        }
        @include mobile{
            width: 270px;
            bottom: 11%;
            left: 22vw;
        }
    }
}

.exBtnGro{
    display: block;
    width: 230px;
    height: 380px;
    background-image: url(../../img/gro_bg_2.jpg);
    background-position: left 20% center;
    background-size: cover;
    background-repeat: no-repeat;
    @include pad{
        width: 400px;
        height: 250px;
        background-size: cover;
    }
    @include mobile{
        width: 215px;
        height: 135px;
    }
}

// 跳轉頁面

.going3Dpage{
    display: block;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #2E2824;
    opacity: 0;
    pointer-events: none;
    transition: .6s ease;

    &.-active{
        opacity: 1;
    }
}


// 最後一頁
.lastWrapper {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    background-color: map-get($color,'black');
    color: white;

    @include pad{
        width: 100vw;
        height: 80vh;
    }
}

.mainAreaLast{
    position: relative;
    width: 100%;

    h1{
        font-size: $titleL;
        position: absolute;
        top: 15vh;
        left: 50vw;
        z-index: 1;
        text-shadow: 2px 2px 3px map-get($color,'black');
        @include pad{
            bottom: 43%;
            left: 20vw;
        }
        @include mobile{
            font-size: $titleM;
            bottom: 37%;
            left: 50vw;
        }
    }
    p{
        font-size: $paragraph;
        font-family: "Noto Serif TC", serif;
        position: absolute;
        bottom: 8%;
        left: 13vw;
        line-height: 1.5rem;
        display: block;
        width: 1150px;
        text-shadow: 1px 1px 1px darkgrey;
        @include pad{
            width: 400px;
            bottom: 20%;
            left: 20vw;
        }
        @include mobile{
            width: 270px;
            bottom: 11%;
            left: 22vw;
        }
    }
    .lastPic{
        position: absolute;
        top: 20vh;
        right: -6vw;
        margin: auto;
        width: 1000px;
        height: 450px;
        overflow: hidden;
    
        background-image: url(../../img/src_bg_4.jpg);
        background-position: center center;
        background-size: cover;
    }
}
// 四大主題頁面 end
