@import '../base/base';
@import '../utilities/button';

@mixin notebook{
  @media(max-width:$break-point-lg){
    @content;
  }
}

@mixin pad {
  @media (max-width:$break-point-md) {
    @content;
  }
}
@mixin mobile{
  @media (max-width:$break-point-xs) {
    @content;
  }
}


// function ---------------
@function PxToVw($px) {
	@return $px/1920 * 100vw;
}

body::-webkit-scrollbar{
  display: none;
}


body{
  // outline: 1px solid red;
  color: map-get($color, 'black');
  display: flex;
  // overflow-y: scroll;
  overflow-x: hidden;
  font-family: $fontFamily;
  color: map-get($color, 'black');
}

.title{
  // outline: 1px solid hotpink;
  width: 50vw;
  // margin: 0 auto;
  padding-top: 80px;
  position: fixed;

  @include notebook{
    display: none;
  }

  @include pad{
    display: block;
    width: 100%;
    position: static;
    background-color: map-get($color, 'black');
    padding-top: 130px;
  }
  @include mobile(){
    padding-top: 90px;
  }

  h1{
    font-size: 70px;
    color: map-get($color, 'white');
    // padding-left: 5vw;

    text-shadow: 3px 3px map-get($color, 'black');
    margin: 0;
    z-index: 3;
    @include notebook{
    font-size: $titleM;
    }
    @include pad{
      font-size: $titleM;
      margin-left: 6vw;
    }
    @include mobile(){
      font-size: $titleS;
    }
  }
  .gray{
    width: PxToVw(1100);
    height: 30px;
    background-color: map-get($color, 'yellow');
    opacity: .5;

    // margin-left: 2vw;
    position: absolute;
    top: 130px;
    @include notebook{
      font-size: $titleM;
      top: 100px;
    }
    @include pad{
      width: 65%;
      height: 8vh;
      margin: 0 auto;
      margin-left: 2vw;
      margin-top: 50px;
    }
    @include mobile{
      width: 70%;
      height: 30px;
      top: 55px;

      margin-left: 5vw;

    }
  }
}

.wrapper{
  // outline: 1px solid maroon;
  width: 100vw;
  height: 100vh;
  padding-left: 15.6vw;

  @include pad{
    padding-left: 20vw;
  }

  .container{
    display: flex;
    @include pad{
      flex-direction: column;
    }

    .container_left{
      background-color: map-get($color, 'black');
      width: 50%;
      height: 100vh;
      .like{
        position: absolute;
        top: 25vh;
        left: 18vw;
        display: flex;
        @include pad{
          top: 35vh;
          left: 25vw;
        }
        @include mobile{
          top: 20vh;
        }

        span{
          font-size: $titleS;
          color: map-get($color, 'white');
          &:hover{
            color: map-get($color, 'red');
          }
          @include notebook{
            font-size: $titleS;
          }
          @include mobile(){
            font-size: 1rem;
          }
        
        }
        p{
          color: map-get($color, 'white');
          font-size: 2.5rem;
          line-height: $paragraph;
          margin-left: 1rem;
          @include notebook{
            font-size: $titleS;
          }
          @include mobile(){
            margin-left: .5rem;
            font-size: 1rem;
          }

        }
      }
      .work{
        // border: 2px solid red;
        margin-top: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          height: 50vh;
          @include notebook{
            margin: 0 auto;
          }
          @include pad{
            width: 65%;
          }
          @include mobile(){
            width: 55%;
          }
        }
        @include pad{
          margin-top: 20vh;
        }
        @include mobile(){
          margin-top: 15vh;
        }
      }
      @include pad{
        width: 100%;
        height: 50vh;
      }
      @include pad{
        // margin-top: 15vh;
      }
    }
    .container_right{
      background-color: map-get($color, 'white');
      width: 50%;
      height: 100vh;
      .workTitle{
        width: 500px;
        display: block;
        margin: 0 auto;

        margin-top: 30vh;
        @include notebook{
          width: 300px;
        }
        @include pad{
          width: 500px;
        }
        @include mobile(){
          width: auto;
        }

        h5{
          // border: 1px solid blue;
          font-size: $titleS;
          font-weight: bold;
          margin: 0 auto 3rem -3rem;
          @include notebook{
            font-size: $titleS;
            margin-left: 0;
          }
          @include pad{
            font-size: $titleS;
            margin:-1rem 0 5rem 0;
          }
          @include mobile{
            margin: -10rem 0 5rem 4rem;            
            font-size: 2rem;
          }

        }
        h2{
          // border: 1px solid blue;
          font-size: $titleM;
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
          margin-bottom: 3rem;
          @include notebook{
            font-size: $titleS;
          }

          @include pad{
            margin:-3rem 0 3rem 0rem;
            font-size: $titleS;
          }
          @include mobile{
            margin: -3rem 0 1rem 4rem;            
            font-size: 2rem;
          }


        }
        p{
          // border: 1px solid blue;
          font-size: $paragraph*1.5;
          height: 30vh;
          text-indent: 2*$paragraph;
          line-height: 1.5;
          overflow-y: scroll;
          margin-left: 2rem;
          @include notebook{
            font-size: $paragraph;
            overflow: auto;
          }
          @include pad{
            overflow: auto;
          }
          @include mobile{
            height: 60vh;
            font-size: 1rem;
            padding: 1rem 2rem 0;
          }
        }
        @include pad{
          margin: 11rem auto 0;
          color: map-get($color, 'white');
        }

      }

      @include pad{
        background-color: map-get($color, 'darkGray');
        width: 100%;
        z-index: -2;
      }
    }
  }
}

.bottom{
  // display: none;
  @include pad{
    display: block;
    width: 80vw;
    height: 10vh;
  }
  .button{
    opacity: 1;
    width: 35vw;

    left: 40vw;
    a{
      color: map-get($color, 'gray_2');
      text-decoration: none;
      span{
        &::before{
          width: 5vw;
          margin-left: 3vw;
        }
      }
    }

    @include mobile(){
      width: 50vw;
      left: 35vw;
    }

  }
}

// button -------------------

.back{
  // outline: 1px solid yellow;
  position: absolute;
  top: 20vh;
  @include mobile(){
    width: 3%;
  }
}

