@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "../base/base";
@mixin notebook {
  @media (max-width:$break-point-xl){
    @content;
  }
}
@mixin ipad {
  @media (max-width:$break-point-md){
    @content;
  }
}
@mixin phone {
  @media (max-width:$break-point-xs){
    @content;
  }
}

/** [Vars] *****/

/** [Panels] *****/
$width-panel-static: 50%;
$height-panel-static: 40%;
$background-panel-static: rgba(0, 0, 0, 0.8);
$color-panel-static: #2E2824;
$color-panel-heading: #886F5E;

$width-panel-sliding: 50%;
$height-panel-sliding: 115%;
$offset-top-panel-sliding: ($height-panel-sliding - 100%) / 2;
$offset-left-panel-sliding: 47%;
$background-panel-sliding: #fefefe;
$shadow-panel-sliding: 3px -2px 6px 0px rgba(0, 0, 0, 0.4);

$padding-panel-content: 2rem;

/** [Buttons] *****/
$margin-button: 1rem 0;
$padding-button: 0.5rem 1.5rem;
$color-button-primary: #fefefe;
$color-button-secondary: #886F5E;
$background-button-primary: #886F5E;
$background-button-secondary: transparent;
$border-button-secondary: 2px solid #886F5E;

/** [Content] *****/
$size-heading: 1.2rem;
$size-copy: 0.7rem;

/** [Base styling] *****/
@mixin center {
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    margin: auto;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
//   box-sizing: inherit;
}

body {
    // background: url(https://images.unsplash.com/photo-1465188035480-cf3a60801ea5?dpr=1.25&auto=format&fit=crop&w=1199&h=1199&q=80&cs=tinysrgb&crop=) no-repeat center center fixed;
    background-size: cover;
}

/** [Main Styling] *****/
.close{
    display: none !important;
}

.panel {
    font-family: 'Montserrat';
    border-radius: 3px;
    @include ipad{
        display: none;
    }
    @include phone{
        display: none;
    }
    &--static {
        @include ipad{
            display: none;
        }
        @include phone{
            display: none;
        }
        @include center;
        display: flex;
        align-items: center;
        width: $width-panel-static;
        height: $height-panel-static;
        min-height: 300px;
        background: $background-panel-static;
        color: $color-panel-static;
        background-image: url(../../img/src_bg_5.jpg);
        background-position: center center;
        z-index:1000;
        animation: scale-up-hor-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        
        @keyframes scale-up-hor-center {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .panel__content {
            padding: $padding-panel-content;
            text-align: center;
            width: 50%;
            line-height: 1rem;
        }
            h1{
                margin-bottom: 2vh;
            }
            p{
                width: 280px;
                text-align: center;
                margin: 5vh auto;
            }
    }
    
    &--sliding {
        position: absolute;
        top: -$offset-top-panel-sliding;
        left: $offset-left-panel-sliding;
        width: $width-panel-sliding;
        height: $height-panel-sliding;
        background: $background-panel-sliding;
        box-shadow: $shadow-panel-sliding;
        
        .panel__content{
            &.login,&.signup {
                width: 80%;
                display: none;
            }
        }
    }
    
    &__heading {
        font-size: $size-heading;
        
        .panel--sliding & {
            color: $color-panel-heading;
            text-transform: uppercase;
        }
    }
    
    &__copy {
        font-size:  $size-copy;
    }
    
    form {
        width: 100%;
        margin-top: 1em;
        div{
            position: relative;
            input {
                width: 100%;
                margin-bottom: 1rem;
                padding: 0.4rem 0.2rem;
                font-size: 0.8rem;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 1px solid #ddd;
                &:focus {
                    outline: 0;
                }
            }
            p{
                position: absolute;
                right: -21%;
                top: -105%;
            }
        }
        label{
            font-size: 1.0rem;
            color: black;
        }
    }
    #login{
        & :nth-child(6){
            position: static;
        }
    }
    .faceGoogle{
        .googleTitle{
            display: flex;
            align-items: center;
            justify-content: center;
            color:black;
            div{
                width: 5vw;
                border:1px solid black;
            }
            p{
                margin: 0 1vw;
            }
        }
        .pic{
            display: flex;
            justify-content: space-evenly;
            margin-top: 2vh;
            margin-left: 3vw;
            .fab{
                font-size: 2vw;
                &:hover{
                    color: #BA967D;
                }
            }
        }
    }
    
    .btn {
        min-width: 120px;
        margin: $margin-button;
        padding: $padding-button;
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        margin: 2vh auto;
        
        &--primary {
            background: $background-button-primary;
            color: $color-button-primary;
            border: 0;
        }
        
        &--secondary {
            background: $background-button-secondary;
            color: $color-button-secondary;
            border: $border-button-secondary;
        }
        
        &:focus {
            outline: 0;
        }
    }
    
    a,
    a:focus,
    a:visited,
    a:active {
        display: block;
        font-size: 1.0rem;
        text-decoration: none;
        color: black;
        margin-bottom: 2vh;
    }
  }

  .form-wrap{
    display: none;
    @include ipad{
        display: block;
        height: 440px;
    }
    @include phone{
        display: block;
        height: 440px;
    }
    @include center;
    background-color: #fff;
    width: 320px;
    height: 550px;
    z-index: 200;
    margin: 3em auto;
    box-shadow: 0px 1px 8px #BEBEBE;
    font-family: 'Montserrat';
    -webkit-box-shadow: 0px 1px 8px #BEBEBE;
    -moz-box-shadow: 0px 1px 8px #BEBEBE; 
    .tabs{
        overflow: hidden; 
        
        h3{
            float: left;
            width: 50%; 
            margin-top: 0px;
            a{
                line-height: 30px;
                padding: 0.5em 0;
                text-align: center;
                font-weight: 400;
                background-color: #e6e7e8;
                display: block;
                color: #666; 
                text-decoration: none;

                &.active{
                    background-color: #fff; 
                }
            }
        }
    }
    .tabs-content{
        padding: 1.5em;
        // &div[id$="tab-content"]{
        //     display: none; 
        // }
        &.active{
            display: block !important; 
        }
    }
    form{
        .input{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            color: inherit;
            font-family: inherit;
            padding: .8em 0 10px .8em;
            border: 1px solid #CFCFCF;
            outline: 0;
            display: inline-block;
            margin: 0 0 .8em 0;
            padding-right: 2em;
            width: 100%; 
        }
        .button1{
            width: 100%;
            padding: .8em 0 .8em;
            background-color: #E5E5E5;
            border: none;
            color: #fff;
            cursor: pointer;
            text-transform: uppercase; 
            &:hover{
                background-color: #7E7E7E; 
            }
            .checkbox{
                visibility: hidden;
                padding: 20px;
                margin: .5em 0 1.5em; 
                &:checked, label:after{
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    filter: alpha(opacity=100);
                    opacity: 1; 
                }
            }
        }
    }
    form label[for]{
        position: relative;
        padding-left: 20px;
        cursor: pointer; 
        &:before{
            content: '';
            position: absolute;
            border: 1px solid #CFCFCF;
            width: 17px;
            height: 17px;
            top: 0px;
            left: -14px; 
        }
        &:after{
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 9px;
            height: 5px;
            background-color: transparent;
            top: 4px;
            left: -10px;
            border: 3px solid #2E2824;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg); 
        }
    }
    .help-text{
        margin-top: .6em; 
        p{
            text-align: center;
            font-size: 14px; 
        }
    }
    .pic{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2vh;
        margin-left: 3vw;
        .fab{
            font-size: 10vw;
            @include ipad{
                font-size: 5vw;
            }
            @include phone(){
                font-size: 10vw;
            }
            &:hover{
                color: #BA967D;
            }
        }
    }
}