@import '../base/base';
@import '../compontents/compontents';
@import '../utilities/utilities';
@import '../utilities/mouseHover';

// *{
//     outline: 1px solid red;
// }

body{
    background-color: #f6f6f6;
    line-height: 1.3rem;

    @include pad{
        font-size: 1rem;
    }
}

a{
    cursor: none;
}

.menuGold{
    p{
        color: #BA967D;
    }
    .indexMenuline1,.indexMenuline2{
        background-color: #BA967D;
    }
}
.indexSideBarGold ul{
    align-items: center;
}

.smallSize_menuOpenCloseAni{
    .smallSize_indexMenuline1,.smallSize_indexMenuline2{
        @include pad{
            background-color: #BA967D;
        }
    }
}

.bock-AboutUs{
    height: 100vh;
    overflow: hidden;
    @include notebook{
        height: 720px;
    }
    @include pad{
            height: 65vh;
    }
    @include mobile{
        height: 80vh;
    }
.aboutus-img{
    background-image: url(../../img/src_bg_10.jpg);
    background-size: 200%;
    float: right;
    color: white;
    font-size: $titleS;
    width: 66vw;
    height: 100%;

    @include notebook{
        height: 720px;
    }
    @include pad{
        height: 65vh;
    }
    //右方區塊
    p{
        width: 50vw;
        margin-top: 200px;
        margin-left: 100px;
        margin-bottom: 140px;
        font-size: 1.1rem;
        text-shadow: 1px 1px 3px map-get($color,'black');
        line-height: 1.3rem;
        @include pad{
            margin-top: 46vh;
            margin-left: -16vw;
            margin-bottom: 40px;
            font-size: 1rem;
            line-height: 1rem;
            width: 73vw;
        }
        @include mobile{
            margin-top: 45vh;
            margin-left: -14vw;
            line-height: 1.2rem;
        }
    }
    span{
        display: flex;
        text-shadow: 1px 1px 2px map-get($color,'gray');
        position: absolute;
        top: 25vw;
        @include notebook{
            top: 40vw;
        }
        @include pad{
            margin-left: 53px;
            left: 27vw;
        }
        @include mobile{
            margin-left: 53px;
            left: 38vw;
            top: 36vh;
        }
    }
    h1{
        color: #000;
        font-size: $titleL;
        margin-left: -46px;

        @include notebook{
            margin-left: -46px;
        }
        @include pad{
            margin-left: -45px;
        }
        @include mobile{
            color:aliceblue;
            font-size: $titleM;
        }
    }
    h2{
        font-size: $titleL;
        @include mobile{
            font-size: $titleM;
        }
    }
    
    }
}


.bock-story{
    height: auto;
    text-shadow: 1px 1px 2px map-get($color,'gray');
    margin-bottom: 20vh;

    @include notebook{
        height: 1221px;
    }
    @include pad{
        height: 731px;
        margin-bottom: 13vh;
        font-size: 1rem;
    }
    @include mobile{
        height: auto;
    }
    .bc1{
        display: block;
        background-image:url(../../img/Story_us.png);
        background-size: cover;
        height: 600px;
        width: 400px;
        margin-left: 15.6vw;

        @include notebook{
            height: 485px;
            width: 283px;
            margin-left: 232px;
        }
        @include pad{
            width: 170px;
            height: 291px;          
            margin-left: 139px;
        }
        @include mobile{
            width: 146px;
            height: 247px;
    
            margin-left: 36px;
        }
    }
    h1{
        font-size: $titleL;
        margin-top: -269px;
        padding-left: 639px;

        @include notebook{
            padding-left: 433px;
        }
        @include pad{
            margin-top: -149px;
            padding-left: 224px;
        }
        @include mobile{
            font-size: $titleM;
            margin-top: -170px;
            padding-left: 202px;
        }
    }
    p{
        width: 30vw;
        height: 170px;
        margin-top: 31px;
        margin-left: 700px;
        font-size: 1.1rem ;
        justify-content: center; 
        text-shadow: 1px 1px 1px map-get($color,'gray');  
        
        @include notebook{
            margin-left: 561px;
        }
        @include pad{
            margin-top: 24px;
            margin-left: 336px;
            width: 349px;
            height: 71px;
            line-height: 1.2;
        }
        @include mobile{
            font-size: $fontSize;
            width: 176px;
            margin-top: 14px;
            margin-left: 202px;
        }
    }
    .bc2{
        display: block;
        width: 612px;
        height: 789px;

        margin-top: 110px;
        margin-left: 51vw;
        
        @include notebook{
            width: 408px;
            height: 526px;
        }
        @include pad{
            width: 244px;
            height: 316px;
            margin-top: 66px;
            margin-left: 404px;
            margin-top: 20vh;
        }
        @include mobile{
            margin-top: 35vh;
            margin-left: 135px;
        }
        .bc2-img{
            background-color:map-get($color,'gblue');
            width: 576px;
            height: 729px;
            margin-top: -690px;
            margin-left: 36px;

            @include notebook{
                width: 386px;
                height: 500px;
                margin-top: -473px;
                margin-left: 52px;
            }
            @include pad{
                width: 231px;
                height: 300px;
                margin-top: -275px;
                margin-left: 42px;
            }
            @include mobile{
                background-color:map-get($color,'gray');
                margin-left: 14px;
                opacity: .5;
            }
            
        }
        .bc2-gary{
            background-image:url(../../img/src_bg_8.jpg);
            background-size: cover;
            width: 580px;
            height: 750px;
            position: relative;

            @include notebook{
                width: 386px;
                height: 500px;
                margin-top: -40px;
                margin-left: 22px;
            }
            @include pad{
                margin-top: 100px;
                width: 231px;
                height: 300px;
            }
            @include mobile{
                margin-top: 52px;
                opacity: .5;
            }
        }
    }
    .comma{
        display: flex;
        width: 150px;
        margin-left: 15.6vw;
        margin-top: -379px;
        margin-bottom: 65.9px;
        opacity: .2;
        @include pad{
            width: 99px;
            margin-left: 121px;
            margin-top: -315px;
            
        }
        @include mobile{
            width: 100px;
            margin-left: 76px;
            margin-top: -250px;
            margin-bottom: 50px;
            opacity: .7;
        }

        .comma1{
            background-image:url(../../img/comma.png);
            background-size:cover;
            margin-right: 16px;
            width: 67px;
            height: 123px;
            @include pad{
                width: 48px;
                height: 76px;
            }
            @include mobile{
                width: 14px;
                height: 26px;
                margin-right: 3px;
            } }
        .comma2{
            background-image:url(../../img/comma.png);
            background-size:cover;
            width: 67px;
            height: 123px;
            
            @include pad{
                width: 48px;
                height: 76px;
            }
            @include mobile{
                width: 14px;
                height: 26px;
                margin-right: 3px;
            }
        }
        
        
    }
    h2{
        font-size: 1.1rem;
        width: 450px;
        margin-top: -30px;
        margin-left: 15.6vw;
        @include pad{
            width: 256px;
            margin-left: 120px;
        }
        @include mobile{
            margin-top: -30px;
            margin-left: 92px;
            position: relative;
            font-size: 1rem;
        }
    }
    
}

.bock-member{
    height: auto;
    margin-bottom: 20vh;
    @include notebook{
        height: 682px;
    }
    @include pad{
        height: auto;
        margin-bottom: 10vh;
    }
    @include mobile{
    height: 363px;
    }
    .darkblock{
        width: 82vw;
        height: 638px;
        background-color:map-get($color,'black');
        overflow: hidden;
        @include notebook{
            height: 425px;
        }
        @include pad{
            height: 255px;
        }
        @include mobile{
            width: 100%;
            height: 164px;
        }
        h1{
            color: map-get($color,'white');
            font-size: $titleM ;
            width: 280px;
            margin-top: 60px;
            margin-left: 15.6vw;
            text-shadow: 1px 1px 2px #DCCAB8;

            @include pad{
                margin-top: 71px;
                margin-left: 122px;
            }
            @include mobile{
                font-size: $titleS;
                margin-top: 22px;
                margin-left: 36px;
            }
            
        }
        .text{
            display: flex;
            margin-top: 51.9vh;
            margin-left: 51.1vw;
            align-items: center;
            
            @include notebook{
                margin-top: 209px;
                margin-left: 741px;
            }
            @include pad{
                margin-top: 118px;
                margin-left: 401px;
            }
            @include mobile{
                margin-top: 90px;
                margin-left: 231px;
            }
            .line{
                width: 182px;
                height: 2px;
                background-color:map-get($color,'white' );

                @include notebook{
                    width: 132px;
                }
                @include pad{
                    width: 110px;
                    height: 3px;
                }
                @include mobile{
                width: 63px;
                }
            }
            P{
                color: map-get($color,'white');
                font-size: 1.3rem;
                margin-left: 12px;
                font-family: 'Montserrat';

                @include notebook{
                    font-size:medium;
                }
                @include pad{
                    font-size: $fontSize;
                }

                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .pic{
        background-image:url(../../img/src_bg_5.jpg);
        background-position: 90%;
        width: 30vw;
        height: 600px;
        margin-left: 15.6vw;
        margin-top: -26vw;

        @include notebook{
            margin-top: -232px;
            height: 400px;
            background-size:cover;
        } 
        @include pad{
            height: 350px;
            margin-top: -135px;
            margin-left: 122px;
        }
        @include mobile{
            width: 168px;
            margin-top: -100px;
            margin-left: 36px;
        }
    }
    h3{
        width: 25.7vw;
        margin-left: 48vw;
        font-size: 1.1rem;
        margin-top: -8vh;
        padding-top: 3px;
        padding-left: 2px;
        text-shadow: 1px 1px 2px lightgray;
        @include pad{
            margin-left: 380px;
            margin-top: -150px;
            width: 45vw;
        }
        @include mobile{
            margin-left: 35vw;
            margin-top: -120px;
            width: 213px;
        }

    }

}

.bock-JoinUs{
    background-image:url(../../img/JoinUs.svg);
    background-size: 100%;
    height: 400px;
    color: map-get($color, 'dark');
    text-align: center;
    overflow: hidden;
    margin: 15vh auto;

    @include pad{
        height: 240px;
        margin: 15vh auto 6vh;
    }
    @include mobile{
        background-size:cover;
        height: 380px;
    }
    h1{
        margin-top: 90px;
        font-size: $titleL;
        @include pad{
            margin-top: 36px;
        }
        @include mobile{
            margin-top: 67px;
        }
    }
    p{
        font-size: 1.1rem;
        margin-top: 80px;
        line-height: 1.5rem;
    }
    .text{
        font-size: 1.1rem;
        font-weight: bold;
        align-items: center;
        display: flex;
        margin-top: 34px;
        margin-left: -50px;
        
        span{
            margin-right: 10px;
            margin-left: 42.4vw;
            font-family: 'Montserrat';
            font-weight: bold;
            @include mobile{
                margin-left: 40vw;
            }
        }
        
        .line{
            width: 182px;
            height: 2px;
            background-color:map-get($color,'black' );
            @include notebook{
                width: 132px;
                height: 3px;
            }
            @include pad{
                width: 110px;
            }
            @include mobile{
                display: none;
            }
        }
    }

}

.bock-postcard{
    height: 100vh;
    overflow: hidden;

    @include notebook{
        height: 70vh;
    }
    @include pad{
        height: auto;
        margin-bottom: 8vh;
    }
    @include mobile{
        height: 80vh;

    }
    .pic2{
    background-image:url(../../img/postcard.svg);
    background-size:cover;
    width: 433px;
    height: 467px;
    margin-left: 15.6vw;
    margin-top: 83px;
    position: relative;
    @include pad{
        width: 259px;
        height: 280px;
        margin-top: 51px;
    }
    @include mobile{
        margin-top: 68px;
        margin-left: 35px;
    }
    }
    .gray-block{
        width: 370px;
        height: 360px;
        margin-left: 32vw;
        background-color:map-get($color,'gblue');

        margin-top: -322px;
        margin-left: 21.4vw;

        @include notebook{
            width: 231px;
            height: 360px;
            margin-left: 36vw;
        }
        @include pad{
            width: 128px;
            height: 216px;
            margin-top: -193px;
            margin-left: 259px;
        }
        @include mobile{
            width: 265px;
            height: 215px;
            margin-top: -193px;
            margin-left: 50px;
        }
    }
    h1{
        margin-top: -380px;
        margin-left: 48vw;
        margin-bottom: 70px;
        font-size: $titleM;
        @include notebook{
            margin-top: -440px;
            margin-left: 51vw;
        }
        @include pad{
            margin-top: -294px;
        }
        @include mobile{
            font-size: $titleS;
            margin-top: -350px;
            margin-left: 200px;
            position: relative;
        }
    }
    p{
        width: 33.7vw;
        line-height: 1.5;
        margin-left: 49vw;
        font-size: $paragraph;

        @include notebook{
            margin-left: 60vw;
        }
        @include mobile{
            width: 265px;
            height: 179px;
            margin-left: 106px;
            position: relative;
            top: 37vh;
        }
    }
    .text{
        display: flex;
        align-items:center;
        justify-content: center;
        
        margin-left: 55vw;
        margin-top: 50px;
        width: 315px;
        height: 30px;

        @include notebook{
            margin-left: 60vw;
        }
        @include mobile{
            margin-top: 39vh;
            margin-left: 63px;
            height: 19px;
        }
        .line{
            width: 182px;
            height: 2px;
            background-color:map-get($color,'black');
            
            @include notebook{
                height: 3px;
            }
            @include pad{
                width: 110px;
            }
        }
        span{
            font-size: 1.1rem;
            width: 10vw;
            margin-left: 11.7px;
            font-weight: bold;
            font-family: 'Montserrat';

            @include pad{
                width: 15vw;
            }
            a{
                text-decoration: none;
                color:map-get($color,'black');
            }
        }
        
    }



}

footer{
    height: 166px;
    background-color: map-get($color, 'black');
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
    z-index: 1;
    .text{
        display: flex;
        color:map-get($color, 'white');
        
        justify-content: space-around;
        
        font-size: $paragraph;

        margin-top: 68px;
        
        ul{
            display: flex;
            width: 500px;
            height:55px;
            line-height: 2.6;
            justify-content:space-evenly;
            a{
                text-decoration: none;
                color:map-get($color, 'white');
                
            }
        }
        .footerLogo{
            font-weight: bold;
            a{
                display: flex;
                align-items:center;
                text-decoration: none;
                color:map-get($color, 'white');
                text-align: center;
                font-size: 1rem;
            }
        }
        ol{
            display: flex;
            width: 500px;
            justify-content: space-evenly;
            align-items:center;
            img{
                height:35px;
            }
            a{
                text-decoration: none;
                color:map-get($color, 'white');
            }
        }
    }
}
