@import '../base/base';
@import '../utilities/button';

@mixin notebook{
  @media(max-width:$break-point-lg){
    @content;
  }
}

@mixin pad {
  @media (max-width:$break-point-md) {
    @content;
  }
}
@mixin mobile{
  @media (max-width:$break-point-xs) {
    @content;
  }
}


body{
  // outline: 1px solid green;
  color: map-get($color, 'black');
  display: inline-block;
  // overflow-y: scroll;
  overflow-x: visible;
  font-family: $fontFamily;
}

body::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
}



.title{
  // outline: 1px solid hotpink;
  border-bottom: 20px solid #7e7e7e;
  width: 1100px;
  margin-left: 20vw;
  padding-top: 80px;

  position: sticky;
  @include notebook{
    margin-left: 18vw;
    width: 60vw;
  }
  @include mobile{
    padding-top: 10vh;
  }

  h1{
    font-size: $titleM;
    margin: 0;
    margin-bottom: 30px;  
    @include notebook{
      font-size: $titleS;
    }
  }
}

.container{
  // outline: 2px solid cadetblue;
  height: 60vh ;
  width: 90vw;
  // overflow: hidden;
  overflow-x: visible;

  margin-top: 2rem;
  margin-left: 20vw;
  margin-bottom: 5.5rem;
  padding: 0;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas: 
  "big1 big1 big1 small1 small2 big3 big3 small7"
  "big1 big1 big1 big2 big2 big3 big3 small6 "
  "big1 big1 big1 big2 big2 small3 small4 small5";
  grid-gap: 20px;

  @include notebook{
    margin-left: 18vw;
    grid-gap: 10px;

    height: 55vh;
    width: 90vw;  
  }
  @include pad{
    height: 100vh;
    width: 80vw;

    grid-gap: 15px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'big1 big1 big1 big1'
    'big1 big1 big1 big1'
    'big1 big1 big1 big1'
    'small1 small2 big2 big2'
    'big3 big3 small3 small4';
  
  }

  
  .big1{
    background: url('../../img/3d/Image.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: big1;
    transition: 1s;
    p{
      color: #666;
      opacity: 0;
      text-align: center;
      line-height: 1.2rem;
      height: 100%;
      transition: 1.3s;
      margin-top: 3rem;
      &:hover{
        color: map-get($color, 'white');
        opacity: 1;
      }
    }
    &:hover{
      transform: scale(1.05);
    }
  }

  .big2{
    // background: #666;
    background: url("../../img/universe/nationalgeographic_131777.adapt_.885.1.jpg");
    background-size: cover;
    background-position: center;
    grid-area: big2;
  }
  
  .big3{
    background: url("../../img/universe/0446e4ac9bdce1ec2c89fc0661a748e5.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    // background: #666;
    grid-area: big3;
  }
  
  .small1{
    // background: #999;
    background: url("../../img/universe/small1.jpg");
    background-size: cover;
    background-position: center;
    grid-area: small1;
    transition: 1.3s;
    &:hover{
      transform: scale(1.1);
    }
  }

  .small2{
    // background: #999;
    background: url("../../img/universe/small2.jpg");
    background-size: cover;
    background-position: center;
    grid-area: small2;
  }
  
  .small3{
    // background: #999;
    background: url("../../img/universe/6db64bba20f4b2be76c275c9ec0ca39a.jpg");
    background-size: cover;
    background-position: center;

    grid-area: small3;
  }
  
  .small4{
    // background: #999;
    background: url("../../img/universe/i9003_181217_110_rev.adapt_.1190.1.jpg");
    background-size: cover;
    background-position: center;
    grid-area: small4;
  }
  
  .small5{
    // background: #999;
    background: url("../../img/universe/e2026058526bd1c93fdf2572f4f40575.jpg");
    background-size: cover;
    background-position: center;

    grid-area: small5;
  }
  
  .small6{
    // background: #999;
    background: url("../../img/universe/8ab7ac823a014ea1b9583c75e14a4828.jpg");
    background-size: cover;
    background-position: center;

    grid-area: small6;
  }
  
  .small7{
    // background: #999;
    background: url("../../img/universe/small3.jpg");
    background-size: cover;
    background-position: center;

    grid-area: small7;
  }
  
  .small8{
    background: #999;
    grid-area: small8;
  }
  
  .small9{
    background: #999;
    grid-area: small9;
  }

}

// animation test--------------

