@import '../base/base';
@import '../base/reset';
@import '../utilities/button';
// @import '../utilities/mouseHover';


@mixin notebook{
  @media(max-width:$break-point-lg){
    @content;
  }
}

@mixin pad {
  @media (max-width:$break-point-md) {
    @content;
  }
}
@mixin mobile{
  @media (max-width:$break-point-xs) {
    @content;
  }
}


body{
  // outline: 1px solid green;
  color: map-get($color, 'black');
  display: inline-block;
  // overflow-y: scroll;
  overflow-x: scroll;
  font-family: $fontFamily;
}

body::-webkit-scrollbar{
  display: none;
}

.title{
  // outline: 1px solid hotpink;
  border-bottom: 20px solid #7e7e7e;
  width: 1100px;
  margin-left: 20vw;
  padding-top: 80px;

  position: sticky;
  @include notebook{
    margin-left: 23vw;
    width: 60vw;
  }
  @include mobile{
    margin-left: 30vw;
    padding-top: 10vh;
  }

  h1{
    font-size: $titleM;
    margin: 0;
    margin-bottom: 30px;  
    @include notebook{
      font-size: $titleS;
    }
    @include mobile{
      margin-bottom: 10px;
    }
  }
}

.container{
  // outline: 2px solid cadetblue;
  height: 60vh;
  margin-top: 4rem;
  margin-left: 20vw;
  margin-bottom: 5.5rem;
  padding: 0;
  overflow: hidden;
  // overflow-x: scroll;
  
  @include pad{
    overflow: visible;
    width: auto;
    margin-left: 23vw;
  }
  @include mobile(){
    // overflow: hidden;
    height: 100vh;
    margin-left: 30vw;
    margin-top: 2rem;
  }

  .imgAll{
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: repeat(3, 20vh);
    grid-gap: 15px;

    grid-template-areas: 
    "big1 big1 big1 small1 small2 big3 big3 small7"
    "big1 big1 big1 big2 big2 big3 big3 small6 "
    "big1 big1 big1 big2 big2 small3 small4 small5";

    justify-items: center;

    canvas{
      width: 510px!important;
      height: 60vh !important;
      grid-area: big1 !important; 
      margin-left: 340px;     
      @include mobile{
        display: none !important;
      }
  }

    @include notebook{
    // margin-left: 18vw;
      grid-gap: 10px;

      height: 60vh;
      width: 100vw;  
    }
  @include pad{
    height: 100vh;
    width: 75vw;
    grid-gap: 15px;
  
    grid-template-columns: repeat(4, 17vw);
    grid-template-rows: repeat(6, 20vh);
    grid-template-areas: 
    'big1 big1 big1 big1'
    'big1 big1 big1 big1'
    'big1 big1 big1 big1'
    'small1 small2 big2 big2'
    'big3 big3 big2 big2'
    'big3 big3 small3 small4';
  }
  @include mobile{
    height: 100vh;
    width: 65vw;

    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: repeat(8, 20vh);
    grid-gap: 10px;

    grid-template-areas: 
    'big2 big2'
    'big2 big2'
    'small1 small2'
    'big3 big3'
    'big3 big3'
    'small5 small6'
    'small7 small4'
    'small3 big1';

  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;

    animation: show 1s linear forwards;
    transition: 1s;
    &:hover{
      // transform: scale(1.05);
      width: 105%;
      height: 105%;
      z-index: 4;
    }
  }

  a{
    width: 100%;
    height: 100%;
    // grid-area: big1;

    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 90%;
      height: 80%;
    
      transition: 1s;
      p{
        color: #666;
        opacity: 0;
        text-align: center;
        line-height: 1.2rem;
        height: 100%;
        transition: 1.3s;
        margin-top: 3rem;
        &:hover{
          color: map-get($color, 'white');
          opacity: 1;
        }
      }
      &:hover{
        // transform: scale(1.05);
      }
    }
  
  }
  

  img:nth-child(2){
    // background: #666;
    grid-area: big2;
    animation-delay: .5s;
  }
  
  img:nth-child(3){
    // background: #666;
    grid-area: big3;
    animation-delay: .7s;
  }
  
  img:nth-child(4){
    // background: #999;
    grid-area: small1;
    animation-delay: .1s;

  }

  img:nth-child(5){
    // background: #999;
    grid-area: small2;
    animation-delay: .3s;

  }
  
  img:nth-child(6){
    // background: #999;
    grid-area: small3;
    animation-delay: .9s;
  }
  
  img:nth-child(7){
    // background: #999;
    grid-area: small4;
    animation-delay: 1.1s;
  }
  
  img:nth-child(8){
    // background: #999;
    grid-area: small5;
    animation-delay: 1.3s;

  }
  
  img:nth-child(9){
    // background: #999;
    grid-area: small6;
    animation-delay: 1.5s;
  }
  
  img:nth-child(10){
    // background: #999;
    grid-area: small7;
    animation-delay: 1.7s;
  }
  
  .small8{
    background: #999;
    grid-area: small8;
  }
  
  .small9{
    background: #999;
    grid-area: small9;
  }
  }

}


@keyframes show {
  0%{ transform: scale(0.3); opacity: 0;}
  // 50%{ transform: scale(0.8); opacity: .5;}
  100%{ transform: scale(1); opacity: 1;}
}


//3d


  


