<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoWu_Bidding</title>

  <link rel="stylesheet" href="./assets/css/all.css" />
  <link rel="stylesheet" href='./assets/css/pages/signin.css'>
  <link rel="stylesheet" href="./assets/css/pages/bidding.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
  <script src="./assets/js/jquery-3.5.1.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <!-- google -->
  <!-- <meta name="google-signin-scope" content="profile email"> -->
  <meta name="google-signin-client_id" content="5123688312-hh38n162r8fqfrd31n2a2hid0q7pk7uf.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- google -->
</head>

<body>
  @@include('./compontents/head.html')
  <div class="rightBlock block">
    <div class="title">
      <h1>競標商品</h1>
      <div></div>
      <h2>Buy the goods you like!</h2>
      <p>et dolore magna aliqua.</p>
    </div>
    <div class="product">
      <button class="slider_prev" @click="change(active-1)">
        <img src="./assets/img/Icon ionic-ios-arrow-forward.png">
      </button>
      <ul>
        <li><img v-for="(src,index) in imgList" :src="src" v-show="index == active"></li>
        <li><img v-for="(src,index) in imgList" :src="src" v-show="index == active"></li>
        <li><img v-for="(src,index) in imgList" :src="src" v-show="index == active"></li>
        <li><img v-for="(src,index) in imgList" :src="src" v-show="index == active"></li>
      </ul>
      <button class="slider_next" @click="change(active+1)">
        <img src="./assets/img/Icon ionic-ios-arrow-forward1.png">
      </button>
    </div>
    <div class="bidding">
      <div>競標狀態:
        <span>{{itemMessage}}</span>
      </div>
      <div>競標倒數:
        <span>{{itemTime}}</span>
      </div>
    </div>

    <div class="introduce">
      <div class="introLeft">
        <h3>競標物品</h3>
        <div class="intro">
          <div class="pic">
            <img src="./assets/img/exh_5.jpg" alt="">
          </div>
          <div class="text">
            <h3>ExhibitName</h3>
            <p>Introductione here....
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.Introductione
              here....
            </p>
            <div class="start">
              起始價格: <span> 333</span>
            </div>
            <div class="current">
              目前價格: <span> 888</span>
            </div>
            <div class="yourPrice">
              <div>您的出價:</div>
              <div class="price">
                <button @click="price -= 1"><img src="./assets/img/-.png"></button>
                <div>{{price}}</div>
                <button @click="price += 1"><img src="./assets/img/+.png"></button>
              </div>
            </div>
            <button>我要競標</button>
          </div>
        </div>
      </div>
      <div class="introRight">
        <div class="top">
          <div @click="content='my-component'">討論區</div>
          <div @click="content='my-component1'">競標紀錄</div>
        </div>
        <component :is="content"></component>
      </div>
    </div>

  </div>
  @@include('./compontents/searchbar.html')
  @@include('./compontents/music.html')
  @@include('./compontents/footer.html')
  抓資料參考
  mounted() {

    // console.log('data', this[0].itemImg, this[0].name);
    axios.get("./assets/php/front/normalnumber_memberlist.php").then((res) => {
          console.log(res.data[0])
          this.items = res.data[0];
          this.defaultText = res.data[0].name;
          this.masterName = res.data[0].email;
          this.introContent = res.data[0].introduction;
    }).catch();
   },
<!-- vue輪播 -->
  <script>
    new Vue({
      el:'.product',
      data:{
          active:0,
          imgList:[
          "./assets/img/exh_5.jpg",
          "./assets/img/exh_6.jpg",
          "./assets/img/exh_7.jpg",
          "./assets/img/exh_8.jpg",
          ]
      },
      methods: {
        change(index){
                    this.active = (index + this.total) % this.total
                }
      },
      computed:{
        total(){
                    return this.imgList.length
                }
      },
    })
  </script>
<!-- Vue 競價資訊 -->
<script>
  new Vue({
    el:'.bidding',
    data:{
        itemMessage:'競標中',
        itemTime:new Date()
    },
    methods: {
      change(index){
                  this.active = (index + this.total) % this.total
              }
    },
    computed:{
      total(){
                  return this.imgList.length
              }
    },
  })
</script>
<!-- vue 出價 -->
  <script>
    new Vue({
      el: '.yourPrice',
      data:{
        price: 888,
      }
    })
  </script>
<!-- vue 頁籤 -->
<script>
  Vue.component('my-component',{
    template:`
    <div class="content">
          <ul>
            <li>
              <p>Andy</p>
              <div class="personal">
                <img src="./assets/img/Ellipse 77.png" alt="">
                <p>Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed
                  diam nonumy eirmod </p>
              </div>
            </li>
            <li>
              <p>Andy</p>
              <div class="personal">
                <img src="./assets/img/Ellipse 77.png" alt="">
                <p>Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed
                  diam nonumy eirmod </p>
              </div>
            </li>
            <li>
              <p>Andy</p>
              <div class="personal">
                <img src="./assets/img/Ellipse 77.png" alt="">
                <p>Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed
                  diam nonumy eirmod </p>
              </div>
            </li>
          </ul>
          <div class="message">
            <form action="">
              <textarea name="" id="" cols="30" rows="10" placeholder="留言"></textarea>
              <button>傳送</button>
            </form>

          </div>
        </div>
    `
  });
  Vue.component('my-component1',{
    template:`
    <div class="content">
      <h3>--component1--</h3>
    </div>
    `
  });

  new Vue({
    el:'.introRight',
    data:{
      content:'my-component'
    }
  })
</script>
</body>
<!-- <script src="./assets/js/script.js"></script> -->
<script src="./assets/js/scriptBlack.js"></script>
<script src="./assets/js/exhibition.js"></script>
<script src="./assets/js/loginFB.js"></script>
<script src="./assets/js/loginGoogle.js"></script>
<script src='./assets/js/music.js'></script>
<script src='./assets/js/verify.js'></script>
<script src='./assets/js/logIn.js'></script>
</html>