@import '../base/reset';
@import '../base/variables';
@import '../base/mixin';
@import '../base/font';
@import '../base/base';
// header{
//     position: fixed;
//     left: 0;
//     top: 0;
//     height: 100vh;
//     width: 15.6vw;
//     background-color: map-get($color ,'black');
// }

// break-point

@mixin notebook{
  @media(max-width:$break-point-lg){
      @content;
  }
}
@mixin pad{
  @media (max-width:$break-point-md) {
      @content;
  }
}
@mixin mobile {
  @media (max-width:$break-point-xs) {
      @content;
  }
}


// header

.indexSideBar{
  padding-top: 5vh;
  padding-bottom: 8vh;
  box-sizing: border-box;

  width: 15.6vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  @include pad{
      justify-content: unset;
      width: 16vw;
  }
  @include mobile{
      width: 23vw;
  }

  img{
      width: 80px;
      @include pad{
          width: 60px;
      }
      @include mobile{
          width: 50px;
      }
  }

  ul{
      font-weight: bold;
      font-size: $paragraph;
      display: flex;
      align-content: center;
      writing-mode: vertical-lr;
      text-orientation: sideways;
      transform: rotate(-180deg);
      color: white;
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      @include pad{
          visibility: hidden;
      }

  }

  li:first-child{
      padding-bottom: 15px;
      // &:hover{
      //     margin-left: 5px;
      // }
  }

  a{
      text-decoration: none;
      color: map-get($color, 'white');
      line-height: 25px;
      &:hover{
          color: map-get($color,'lightBrown');
          transition: .5s;
      }
  }

  b{
      width: 25px;
      height: 1px;
      background-color: map-get($color, 'brown');
      margin-bottom: 15px;
  }
}

.menu{
  color: map-get($color, 'white');
  cursor: pointer;
  
  &:hover p{
      transform: translateY(5px);
      color: map-get($color, 'lightBrown');
      transition: .2s;
  }
  &:hover .indexMenuline1{
      background-color: map-get($color, 'lightBrown');
      transition: .2s;
  }
  &:hover .indexMenuline2{
      background-color: map-get($color, 'lightBrown');
      transition: .2s;
  }
  @include pad{
      margin-top: 5vh;
  }
  p{
      text-align: center;
      font-size: $paragraph;
      
      @include pad{
          writing-mode: vertical-lr;
          transform: rotate(-180deg);
          margin-bottom: 4vw;
          margin-left: .5vw;

          &:hover{
              transform: none;
          }
      }
  }
  z-index: 2;
}
.indexMenuline1{
  margin-top: 1.5vh;
  display: block;
  background-color: map-get($color, 'white');
  width: 4vw;
  height: 1.8px;

  z-index: 2;
  @include pad{
      transform: rotate(90deg) translateY(1vw) translateX(1vw);
  }
  @include mobile{
      width: 5vw;
      height: 1.8px;    
  }
}
.indexMenuline2{
  display: block;
  background-color: map-get($color, 'white');
  width: 2vw;
  height: 1.5px;
  margin-top: .8vh;

  z-index: 2;
  @include pad{
      transform: rotate(90deg) translateY(-1vw) translateX(-1vw);
  }
  @include mobile{
      width: 3vw;
      height: 1.5px;
      transform: rotate(90deg) translateY(-1vw) translateX(-1.5vw);
  }
}

// == menu page ==

.menu_bar{

  width: 84.4vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: map-get($color, 'black');
  padding-left: 15.6vw;
  display: flex;
  padding-top: 41vh;

  @include pad{
      padding-top: 20vh;
      flex-direction: column;
  }

  .menuGsapLine{
      display: block;
      width: 82.71vw;
      height: 1px;
      background-color: #F1F1F1;

      position: absolute;
      right: -200vw;
      top: 41vh;

      @include pad{
          display: none;
      }
  }
  .menu_personal_exhibits{
      text-decoration: none;
      font-family: 'Montserrat';
      font-weight: bold;
      color: #ffffff;
      position: absolute;
      right: 5vw;
      top: 5vh;
      opacity: 0;

      z-index: 5;

      font-size: $titleS;
      letter-spacing: 0.3rem;

      @include notebook{
          font-size: 1.3rem;
      }
      @include pad{
          right: 0;
          left: 23vw;
          top: 10vh;
          font-size: 1.5rem;
      }
      @include mobile{
          left: 18vw;
          top: 7vh;
          font-size: 1rem;
          letter-spacing: 0.2rem;
      }
  }
  
  .menu_child{
      a{
          display: block;
          text-align: center;
          text-decoration: none;
          width: 22.7vw;
          font-size: 70px;
          color:#646464;
          border-top: 1px solid transparent;
          box-sizing: border-box;
          padding-top: 5.5vh;
          opacity: 0;
          
          &:hover{
              border-top: 3px solid #FBFBF6;
              color: #fff; 
              @include pad{
                  border-top: 1px solid transparent;
                  transition: 1s;
              }
          }
          &:hover img{
              display: block;
              animation: menuImgDown 1s ease-out forwards;
              @keyframes menuImgDown{
                  0%{transform: translateY(5px); opacity: 0; }
                  100%{transform: translateY(0px); opacity: 1; }
              }

              @include pad{
                  display: none;
              }
          }
          
          img{
              display: none;
              position: absolute;
              z-index: -1;
              width: 22vw; 
              height: 35vw;
              margin-left: 0.5vw;
              opacity: 70%;
          }

          @include notebook{
              font-size: 3.4rem;
          }
          @include pad{
              margin-left: 15vw;
              line-height: 10vh;
              text-align: left;
              font-size: 5rem;
          }
          @include mobile{
              font-size: 3rem;
          }
      }
  }
  .menu_exhibits {
      a{
          &:hover img{
              display: block;
              animation: menuImgUp 1s ease-out forwards;
              @keyframes menuImgUp{
                              0%{transform: translateY(0px); opacity: 0; }
                              100%{transform: translateY(5px); opacity: 1; }
                          }
              
              @include pad{
                  display: none;
                  }
          }
      }
  }
  .notthings{
      a{
          width: 16.25vw;
          &:hover{
          border-top: 1px solid #F1F1F1;
          }
      }
  }

  .menu_about{
      margin-left: 1.69vw;

      @include pad{
          margin-left: 0;
      }
      a{
          img{
          top: 32vh;
          }
      }    
  }

  .menu_exhibits{
      a{
          img{
          top: 6.5vh;
          }
      }    
  }

  .menu_postcard{
      a{
          img{
          top: 30vh;
          }
      }    
  }
  .join{
      height: 40px;
      position: absolute;
      right: 5vw;
      top: 87vh;
      display: flex;
      z-index: 5;

      opacity: 0;
      letter-spacing: 0.3rem;
      @include pad{
          right: 10vw;
      }
      .line{
          width: 15vw;
          height: 3px;
          background-color: map-get($color, 'lightBrown');
          margin-top: 17.5px;
          margin-right: 16px;
          z-index: 6;
          @include pad{
              width: 25vw;
              height: 2px;
              margin-top: 20px;
          }
          @include mobile{
              width: 15vw;
          }
      }
      a{
          line-height: 40px;
          text-decoration: none;
          font-family: 'Montserrat';
          font-weight: bold;
          color: #ffffff;
          font-size: $titleS;
          @include notebook{
              font-size: 1.3rem;
          }
          @include pad{
              font-size: 1.5rem;
          }
          @include mobile{
              font-size: 1rem;
          }
      }
  }
}

.none{
  display: none !important;
  transition: 2s;
}


// footer

footer{
    position: relative;
    z-index: 5;
    width: 100%;
    height: 250px;
    background-color: map-get($color, 'black');
    color:map-get($color, 'white');
    font-family: 'Montserrat',sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: $paragraph;
    padding-left: 15.6vw;
    box-sizing: border-box;
    ul{
        display: flex;
        width: 500px;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color:map-get($color, 'white');
        }
    }
    .footerLogo{
        font-weight: bold;
        a{
            display: flex;
            align-items:center;
            text-decoration: none;
            color:map-get($color, 'white');
        }
    }
    ol{
        display: flex;
        width: 500px;
        justify-content: space-evenly;
        align-items:center;
        img{
            height:35px;
        }
        a{
            text-decoration: none;
            color:map-get($color, 'white');
        }
    }
}


// 右上方 會員按鈕區

.features {
  display: flex;
  width: 250px;
  height: 27px;
  color: map-get($color, 'black');

  align-items: center;
  position: fixed;
  top: 50px;
  right:1vw;
  z-index: 2;

  a{
      text-decoration: none;
      color: map-get($color, 'black');
      font-size: $paragraph;
      font-family: 'Noto Serif TC';
      @include pad{
          color:map-get($color ,'white');
      }
      @include mobile{
          font-size: 14px;
      }
  }
  .fa-search {
      font-size: 23px;
      margin: 0;
      @include mobile{
          font-size: 20px;
      }
  }
  .personal {
      width: 64px;
      height: 23px;
      margin-left: 20px;
      border-bottom: 3px solid #e5e5e5;
   // outline: 2px solid chocolate;
      @include mobile{
          display: none;
          border-bottom: 1.5px solid #e5e5e5;
      }
  }
  .login {
      width: 56px;
      height: 23px;
      margin-left: 20px;
      display: flex;
      border-bottom: 3px solid #e5e5e5;
   // outline: 2px solid chocolate;
      @include mobile{
          height: 20px;
          border-bottom: 1.5px solid #e5e5e5;
      }
  }
  .fa-user-friends {
      font-size: 15px;
      margin: 0;
      margin-left: 4px;
  }
  .fa-bell {
      font-size: 20px;
      margin-left: 15px;
      margin-bottom: 6px;

      @include mobile{
          display: none;
      }
  }
  @include pad{
      color:map-get($color ,'white');
  }
  @include mobile{
      right: -35vw;
      top: 36px;
  }
}



// 音樂btn start
.musicControlBtn{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  right: 7.5vw;
  bottom: 3vw;

  z-index: 2;
  p{
      font-size: .8rem;
      font-family: 'Montserrat',sans-serif,
  }
  @include mobile{
      display: none;
  }
}
.musicControlBtnSpan{
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}
.line1{
  display: block;
  height: 20px;
  width: 2px;
  background-color: black;
  margin-right: 15px;
}
.line2{
  display: block;
  height: 40px;
  width: 2px;
  background-color: black;
  margin-right: 15px;
}
.line3{
  display: block;
  height: 25px;
  width: 2px;
  background-color: black;
}  

.bar{
  animation: equalize 4s 0s infinite;
  &:nth-child(1) { 
      animation-delay: -1.9s;
  }
  &:nth-child(2) { 
      animation-delay: -2s;
  }
  &:nth-child(3) { 
      animation-delay: -2.3s;
  }
}
  @keyframes equalize {
      0% {
      height: 5.5vh;
      }
      4% {
      height: 5.0vh;
      }
      8% {
      height: 4.5vh;
      }
      12% {
      height: 4.0vh;
      }
      16% {
      height: 3.5vh;
      }
      20% {
      height: 4.0vh;
      }
      24% {
      height: 4.5vh;
      }
      28% {
      height: 2.0vh;
      }
      32% {
      height: 3.0vh;
      }
      36% {
      height: 5.5vh;
      }
      40% {
      height: 3.0vh;
      }
      44% {
      height: 4.0vh;
      }
      48% {
      height: 5.0vh;
      }
      52% {
      height: 3.0vh;
      }
      56% {
      height: 2.0vh;
      }
      60% {
      height: 3.0vh;
      }
      64% {
      height: 4.0vh;
      }
      68% {
      height: 5.0vh;
      }
      72% {
      height: 5.5vh;
      }
      76% {
      height: 5.7vh;
      }
      80% {
      height: 3.0vh;
      }
      84% {
      height: 2.0vh;
      }
      88% {
      height: 3.0vh;
      }
      92% {
      height: 4.0vh;
      }
      96% {
      height: 4.5vh;
      }
      100% {
      height: 5.0vh;
      }
  }
  .hide{
      animation: none;
  }
// 音樂btn end



@media screen and (max-width: 768px){
    footer{
        height: 60px;
        .footerLogo{
            display: none;
            p{
                font-size: 19px;
            }
        }
        ol{
            width:100%;
            li:nth-child(1){
                display: none;
            }
            order: 3;
            img{
                height:26.5px;
            }
        }
    }

    // .menu_bar{
    //   flex-direction: column;
    //   padding-top: 20vh;
    //   .menu_personal_exhibits{
    //     border-bottom: 2px solid #FBFBF6;
    //     line-height: 1.6;
    //     right: auto;
    //     left: 3vw;
    //   }
    //   .menu_child{
        
    //     a{
    //       border-top: 0px;
    //       padding-top: 4.63vh;
    //       padding-left: 10vw;
    //       &:hover{
    //         border-top: 0px;
    //         color: #F1F1F1;
    //       }
    //       &:hover img{
    //         display: none;
    //       }
    //     }
        
    //   }
    //   .notthings{
    //     display: none;
    //   }
    //   .join{
    //     right: 5.73vw;
    //     top: 87.41vh;
    //     .line{
    //       width: 35.55vw;
    //       background-color: #FBFBF6;
    //     }
    //   }
    // }
}


// @media screen and (max-width: 414px){
//   .menu_bar{
//     flex-direction: column;
//     padding-top: 20vh;
//     .menu_personal_exhibits{
//       font-size: 16px;
//     }
//     .menu_child{
      
//       a{
//         font-size: 48px;
//       }
      
//     }
  
//     .join{

//       a{
//         font-size: 24px;
//       }
//     }
//   }


//   .features{
//     width: 40vw;
//     right: 0;
//     top: 4%;
//     .personal{
//         display: none;
//     }
//     .login_manger{
//         display: none;
//     }
//     .login {
//         border-bottom: 0 solid #e5e5e5;
//         font-size: 50px;
//        }
// }

footer{
    height: 60px;

    .footerLogo{
        display: none;
        p{
            font-size: 19px;
        }
    }

    ol{
        width:100%;
        li:nth-child(1){
            display: none;
        }
        order: 3;
        img{
            height:26.5px;
        }
    }
}

