@import './back_work.scss';

.work{
    .bidding{
        .main{
            .uncheck_list{
                margin-right: 50px;
                // margin-bottom: 100px;
                height: auto;
                h2{
                    @include h2();
                }
                .line{
                    @include bottom_line(100px);
                }
                
                .member_content{
                    overflow:visible;
                    height: auto;
                }
            }
            .work_list{
                .line{
                    @include bottom_line(100px);
                }
                .member_content{
                    overflow:visible;
                    height: auto;
                    margin-top: 1vw;
                }
            }
        }
    }
}